
.heroSection {
    padding: 160px 60px 100px 60px;
    width: 100%;
    background: linear-gradient(258.61deg, rgba(218, 178, 74, 0.35) 13.95%, rgba(255, 255, 255, 0) 90.73%);

}

.chips {
    background-color: white;
    padding: 7vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;

}

.chip {
    border: solid 4px var(--main);
    border-radius: 33px;
    gap: 13px;
    padding: 25px 44px;
    max-width: 308px;
    color: var(--main-text);
    width: 100%;
}

.buttonContainer {
    gap: 16px;
}

.callToAction {
    width: 45%;
    gap: 40px;
}

.bubbles {
    width: 45%;
    gap: 15px;
}

.bubbleRow {
    gap: 80px;
}

.motive {
    background-color: var(--main-text);
    position: relative;
    padding: 7vw;
    gap: 70px;
    overflow: hidden;
    width: 100%;
    background-image:url(../../../assets/paralelcontact.svg);
    background-size: cover;
}

.parallelogram {
    position: absolute; 
    transform: skewX(-20deg);
}

.containerParalelo {
    position: absolute;
}

.chooseJava {
    width: 50%;
    gap: 80px;
}

.bigLogo {
    width: 5rem;
}

.bigLogoTitle {
    font-size: 54px;
}

.logoSide {
    width: 50%;
    gap: 20px;
    width: 50%;
}

.containerInputs {
    width: 100%;
}

.gapping {
    gap: 34px;
    width: 100%;
}

.inputs {
    gap: 12px;
    width: 100%;
}

.label {
    font-weight: 600;
}

.yellow {
    color: var(--main);
    font-weight: 600;
}

.agreedTerms {
    gap: 15px;
}

@media (max-width: 1025px) {
    .heroSection {
        gap:40px;
        padding: 160px 7vw 90px 7vw;
    }
    .callToAction {
        width: 100%;
    }
    .chips {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
    }
    .chip {
        max-width: unset;
        width: 100%;
    }
    .bubbleRow {
        gap: 40px;
    }
    .logoSide {
        display: none;
    }
}

@media (max-width: 540px) {
    .motive {
        padding: 15vw 8vw;
    }
    .chips {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        order: 1;
        padding: 15vw 7vw;
    }
    .callToAction {
        width: 100%;
    }
    .logoSide {
        display: none;
    }
    .gapping {
        gap: 20px;
    }
    .agreedTerms {
        gap: 20px;
    }
}

