<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Radio Canada:wght@600&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
</head>
<body>
<div class="contact3">
    <div class="footer3">
        <div class="content10">
            <div class="row9">
                <div class="about5">
                    <button class="union-parent4">
                        <img class="union-icon8" alt="" src="./assets/union8.svg" />
                        <div class="java-factory8">Java Factory</div>
                    </button>
                </div>
            </div>
            <div class="row10">
                <div class="nav-parent1">
                    <div class="nav24">
                        <input class="subtitle36" type="text" />
                        <div class="list-nav12">
                            <div class="subtitle37">Cursuri</div>
                            <div class="subtitle37">Tarife</div>
                            <div class="subtitle37">Instructori</div>
                        </div>
                    </div>
                    <div class="nav24">
                        <input class="subtitle40" type="text" />
                        <div class="list-nav12">
                            <div class="subtitle37">Despre</div>
                            <div class="subtitle37">Contact</div>
                            <div class="subtitle37">Testimoniale</div>
                        </div>
                    </div>
                    <div class="nav24">
                        <input class="subtitle40" type="text" />
                        <div class="list-nav12">
                            <div class="subtitle37">Contacteaza-ne</div>
                            <div class="subtitle37">FAQ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row11">
                <div class="column3">
                    <div class="nav24">
                        <div class="heading3">Subscribe to our newsletter.</div>
                        <div class="body6">
                            Pentru mai multe detalii ne puteti contacta la:
                        </div>
                    </div>
                    <div class="form-input3">
                        <div class="inscrierijavafactoryro3">
                            inscrieri@javafactory.ro
                        </div>
                        <img
                                class="lineararrow-right-icon18"
                                alt=""
                                src="./assets/lineararrowright7.svg"
                        />
                    </div>
                </div>
            </div>
        </div>
        <img class="divider-icon3" alt="" src="./assets/divider.svg" />
        <div class="layer3">
            <div class="left3">
                <div class="subtitle37">© 2023 Java Factory Inc.</div>
                <div class="layer-bottom3">
                    <div class="subtitle37">Politica de confidentialitate</div>
                    <div class="subtitle37">Termeni si conditii</div>
                    <div class="subtitle37">Politica de utilizare cookie-uri</div>
                </div>
            </div>
            <div class="right3">
                <div class="dropdown3">
                    <div class="content11">
                        <img
                                class="united-states-icon3"
                                alt=""
                                src="./assets/united-states3.svg"
                        />
                        <div class="inscrierijavafactoryro3">Romana (RO)</div>
                    </div>
                    <img
                            class="united-states-icon3"
                            alt=""
                            src="./assets/chevrondown.svg"
                    />
                </div>
                <div class="share3">
                    <img
                            class="solidbrandstwitter-icon3"
                            alt=""
                            src="./assets/solidbrandstwitter1.svg"
                    /><img
                        class="solidbrandstwitter-icon3"
                        alt=""
                        src="./assets/solidbrandsfacebook.svg"
                /><img
                        class="solidbrandstwitter-icon3"
                        alt=""
                        src="./assets/solidbrandslinkedin.svg"
                />
                </div>
            </div>
        </div>
    </div>
    <div class="setup-conferences2">
        <img class="card-icon2" alt="" src="./assets/card2.svg" />
        <div class="call-action5">
            <div class="button15">
                <div class="inregistrare2">Inregistrare</div>
                <img
                        class="lineararrow-right-icon19"
                        alt=""
                        src="./assets/lineararrowright7.svg"
                />
            </div>
        </div>
        <div class="aboneaza-te-la-newsletter2">Aboneaza-te la newsletter</div>
        <div class="at-vero-eos2">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque.
        </div>
        <div class="setup-conferences-inner"></div>
        <div class="adresa-de-email2">Adresa de email</div>
    </div>
    <div class="all-features2">
        <div class="mask-group2">
            <div class="union-parent5">
                <img class="union-icon9" alt="" src="./assets/union9.svg" />
                <div class="java-factory9">Java Factory</div>
            </div>
            <img
                    class="mask-group-child1"
                    alt=""
                    src="./assets/rectangle-4369.svg"
            />
        </div>
        <img
                class="all-features-child8"
                alt=""
                src="./assets/rectangle-4370.svg"
        /><img
            class="all-features-child9"
            alt=""
            src="./assets/rectangle-4367.svg"
    />
        <div class="all-features-child10"></div>
        <div class="nume-si-prenume1">Nume si Prenume:</div>
        <div class="all-features-child11"></div>
        <div class="adresa-de-e-mail1">Adresa de e-mail:</div>
        <div class="all-features-child12"></div>
        <div class="all-features-child13"></div>
        <div class="numar-de-telefon1">Numar de telefon:</div>
        <div class="all-features-child14"></div>
        <div class="mesajul-tau1">Mesajul tau:</div>
        <div class="am-citit-si-container1">
          <span>Am citit si sunt de acord cu </span
          ><span class="termeni-si-conditii1">termeni si conditii</span
        ><span> si cu </span
        ><span class="termeni-si-conditii1"
        >politica de confidentialitate</span
        >
        </div>
        <div class="numele-tau-complet1">Numele tau complet</div>
        <div class="introdu-adresa-ta1">Introdu adresa ta de email</div>
        <div class="introdu-numarul-tau1">Introdu numarul tau de telefon</div>
        <div class="scrie-aici-mesajul1">Scrie aici mesajul tau</div>
        <div class="button16">
            <div class="inregistrare2">Trimite</div>
            <img
                    class="lineararrow-right-icon19"
                    alt=""
                    src="./assets/lineararrowright8.svg"
            />
        </div>
    </div>
    <div class="header4">
        <div class="content12">
            <div class="headline8">
                <div class="contact4">Contact</div>
                <div class="lorem-ipsum-dolor2">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna
                </div>
            </div>
            <div class="container3"></div>
        </div>
    </div>
    <div class="partnership1">
        <div class="partnership-child2"></div>
        <div class="partnership-child3"></div>
        <div class="partnership-child4"></div>
        <div class="partnership-child5"></div>
        <a class="a" href="mailto:exemplu@javafactory.ro" target="_blank"
        >0740 123 456</a
        >
        <div class="inscrierijavafactoryro4">
            <a
                    class="javafactoryro"
                    href="mailto:exemplu@javafactory.ro"
                    target="_blank"
            >@javafactory.ro</a
            >
        </div>
        <a class="exemplugmailro" href="mailto:exemplu@gmail.ro" target="_blank"
        >exemplu@gmail.ro</a
        >
        <div class="wwwjavafactoryro">www.javafactory.ro</div>
        <img class="language-icon" alt="" src="./assets/language.svg" />
    </div>
    <div class="navigation-top3">
        <div class="union-parent6">
            <img class="union-icon8" alt="" src="./assets/union10.svg" />
            <div class="java-factory10">Java Factory</div>
        </div>
        <div class="list-nav15">
            <div class="nav27">
                <div class="acasa4" id="acasaText" (click)="navigateTo('/')">Acasa</div>
            </div>
            <div class="nav60">
                <div class="acasa4" id="despreText"   (click)="navigateTo('/about')">Despre</div>
            </div>
            <div class="nav61">
                <div class="acasa4" id="cursuriText" (click)="navigateTo('/courses')">Cursuri</div>
            </div>
            <div class="nav61">
                <div class="inregistrare2" (click)="navigateTo('/contact')">Contact</div>
            </div>
            <div class="nav61">
                <div class="acasa4" id="fAQText" (click)="navigateTo('/faq')">FAQ</div>
            </div>
        </div>
        <img class="vector-icon4" alt="" src="./assets/vector.svg" />
        <div class="call-action6">
            <div class="button17">
                <div class="button-text6">Log In</div>
                <img
                        class="lineararrow-right-icon19"
                        alt=""
                        src="./assets/lineararrowright7.svg"
                />
            </div>
            <div class="button18">
                <div class="button-text6">Sign Up</div>
                <img
                        class="lineararrow-right-icon19"
                        alt=""
                        src="./assets/lineararrowright7.svg"
                />
            </div>
        </div>
    </div>
    <div class="email">Email</div>
    <div class="pagina-web">Pagina Web</div>
    <div class="telefon">Telefon</div>
    <div class="inscrieri-online">Inscrieri online</div>
    <img class="article-icon" alt="" src="./assets/article.svg" /><img
        class="phone-icon"
        alt=""
        src="./assets/phone.svg"
/><img
        class="alternate-email-icon"
        alt=""
        src="./assets/alternate-email.svg"
/><img class="contact-child" alt="" src="./assets/group-7264.svg" />
</div>
</body>
