<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <!--    <link rel="stylesheet" href="./global.component.css" />-->
    <!--    <link rel="stylesheet" href="./despre.css" />-->
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Radio Canada:wght@600&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
</head>
<body>
<div class="despre7">
    <div class="footer7">
        <div class="content21">
            <div class="row21">
                <div class="about9">
                    <div class="union-parent13">
                        <img class="union-icon17" alt="" src="./assets/union17.svg"/>
                        <div class="java-factory-text">Java Factory</div>
                    </div>
                </div>
            </div>
            <div class="row22">
                <div class="nav-parent5">
                    <div class="nav56">
                        <input class="subtitle84" type="text"/>
                        <div class="list-nav28">
                            <div class="subtitle85">Cursuri</div>
                            <div class="subtitle85">Tarife</div>
                            <div class="subtitle85">Instructori</div>
                        </div>
                    </div>
                    <div class="nav56">
                        <input class="subtitle88" type="text"/>
                        <div class="list-nav28">
                            <div class="subtitle85">Despre</div>
                            <div class="subtitle85">Contact</div>
                            <div class="subtitle85">Testimoniale</div>
                        </div>
                    </div>
                    <div class="nav56">
                        <input class="subtitle88" type="text"/>
                        <div class="list-nav28">
                            <div class="subtitle85">Contacteaza-ne</div>
                            <div class="subtitle85">FAQ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row23">
                <div class="column7">
                    <div class="copy13">
                        <div class="heading7">Subscribe to our newsletter.</div>
                        <div class="body68">
                            Pentru mai multe detalii ne puteti contacta la:
                        </div>
                    </div>
                    <input class="form-input7" type="text"/>
                </div>
            </div>
        </div>
        <img class="divider-icon7" alt="" src="./assets/divider.svg"/>
        <div class="layer7">
            <div class="left7">
                <div class="subtitle85">© 2023 Java Factory Inc.</div>
                <div class="left7">
                    <div class="subtitle85">Politica de confidentialitate</div>
                    <div class="subtitle85">Termeni si conditii</div>
                    <div class="subtitle85">Politica de utilizare cookie-uri</div>
                </div>
            </div>
            <input class="right7" type="text"/>
        </div>
    </div>
    <div class="setup-conferences3">
        <img class="card-icon6" alt="" src="./assets/card6.svg"/>
        <div class="call-action13">
            <button class="button38">
                <div class="inregistrare6">Inregistrare</div>
                <img
                        class="lineararrow-right-icon36"
                        alt=""
                        src="./assets/lineararrowright3.svg"
                />
            </button>
        </div>
        <div class="aboneaza-te-la-newsletter6">Aboneaza-te la newsletter</div>
        <div class="at-vero-eos6">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque.
        </div>
        <input class="rectangle-input" type="text"/>
        <div class="adresa-de-email6">Adresa de email</div>
    </div>
    <div class="display-room1">
        <div class="header8"></div>
        <div class="copy14">
            <div class="copy13">
                <div class="lorem-ipsum3">Lorem ipsum</div>
                <div class="button39">
                    <div class="button-text11">Watch Story</div>
                    <img
                            class="lineararrow-right-icon37"
                            alt=""
                            src="./assets/lineararrowright9.svg"
                    />
                </div>
            </div>
            <div class="body69">
            <span class="duis-aute17">Duis aute</span
            ><span>
              "But I must explain to you how all this mistaken idea of
              denouncing pleasure and praising pain was born and I will give you
              a complete account of the system, and expound the actual teachings
              of the great explorer of the truth, the master-builder of human
              happiness. No one rejects, dislikes, or avoids pleasure itself,
              because it is pleasure, but because those who do not know how to
              pursue pleasure rationally encounter consequences that are
              extremely painful. Nor again is there anyone.</span
            >
            </div>
        </div>
    </div>
    <div class="about10">
        <div class="copy15">
            <div class="headline11">
                <div class="button40">
                    <div class="button-text11">Watch Story</div>
                    <img
                            class="lineararrow-right-icon37"
                            alt=""
                            src="./assets/lineararrowright9.svg"
                    />
                </div>
            </div>
        </div>
        <div class="lorem-ipsum4">Lorem ipsum</div>
        <div class="body70">
          <span class="duis-aute17">Duis aute</span
          ><span>
            irure dolor in reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum."</span
        >
        </div>
        <div class="about-inner"></div>
        <img
                class="unsplash95yrwf6cnw8-icon3"
                alt=""
                src="./assets/unsplash95yrwf6cnw82@2x.png"
        />
    </div>
    <div class="header9">
        <div class="content22">
            <div class="headline11">
                <div class="lorem-ipsum-dolor4">Lorem ipsum dolor sit amet</div>
            </div>
        </div>
        <div class="lorem-ipsum-dolor5">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
        </div>
        <div class="image1">
            <div class="ornament1"></div>
        </div>
        <div class="header-child"></div>
    </div>
    <div class="navigation-top7">
        <div class="union-parent14">
            <img class="union-icon17" alt="" src="./assets/union18.svg"/>
            <div class="java-factory-text">Java Factory</div>
        </div>
        <div class="list-nav31">
            <div class="menu-text" (click)="navigateTo('/')">Acasa</div>
            <div class="menu-text-selected" (click)="navigateTo('/about')">Despre</div>
            <div class="menu-text" (click)="navigateTo('/courses')">Cursuri</div>
            <div class="menu-text" (click)="navigateTo('/contact')">Contact</div>
            <div class="menu-text" (click)="navigateTo('/faq')">FAQ</div>
        </div>
        <img class="vector-icon8" alt="" src="./assets/vector.svg"/>
        <div class="call-action14">
            <div class="button41">
                <div class="button-text11">Log In</div>
                <img
                        class="lineararrow-right-icon36"
                        alt=""
                        src="./assets/lineararrowright3.svg"
                />
            </div>
            <div class="button42">
                <div class="button-text11">Inscrie-te</div>
                <img
                        class="lineararrow-right-icon36"
                        alt=""
                        src="./assets/lineararrowright3.svg"
                />
            </div>
        </div>
    </div>
    <div class="image2"></div>
    <div class="fa-cunostinta-cu">Fa cunostinta cu echipa noastra</div>
    <img
            class="despre-child"
            alt=""
            src="./assets/rectangle-4384@2x.png"
    /><img
        class="despre-item"
        alt=""
        src="./assets/rectangle-4385@2x.png"
/><img
        class="despre-inner"
        alt=""
        src="./assets/rectangle-4386@2x.png"
/><img
        class="despre-child1"
        alt=""
        src="./assets/rectangle-4387@2x.png"
/>
    <div class="despre-child2"></div>
    <div class="dan-cristian">Dan Cristian</div>
    <div class="body71">
        <span class="duis-aute17">Duis aute</span
        ><span>
          irure dolor in reprehenderit in voluptate velit esse cillum
          dolore.</span
    >
    </div>
    <div class="despre-child3"></div>
    <div class="stefan-adi">Stefan Adi</div>
    <div class="body72">
        <span class="duis-aute17">Duis aute</span
        ><span>
          irure dolor in reprehenderit in voluptate velit esse cillum
          dolore.</span
    >
    </div>
    <div class="despre-child4"></div>
    <div class="simona-radu">Simona Radu</div>
    <div class="body73">
        <span class="duis-aute17">Duis aute</span
        ><span>
          irure dolor in reprehenderit in voluptate velit esse cillum
          dolore.</span
    >
    </div>
    <div class="despre-child5"></div>
    <div class="elly-dumitru">Elly Dumitru</div>
    <div class="body74">
        <span class="duis-aute17">Duis aute</span
        ><span>
          irure dolor in reprehenderit in voluptate velit esse cillum
          dolore.</span
    >
    </div>
    <img class="x0-1-icon" alt="" src="./assets/960x0-1@2x.png"/><img
        class="despre-child6"
        alt=""
        src="./assets/group-7264.svg"
/>
</div>
</body>
