<div class="navbar row-around-center">
    <div class="headerEarly row-start-center">
        <a class="link" href="/home">
            <div class="logoContainer row-start-center">
                <img class="logo" src="./assets/union.svg">
                <span class="logoTitle">Java Factory</span>
            </div>
        </a>
        <p-menubar [model]="items"></p-menubar>
        <div class="distancer"></div>
    </div>
    <div class="headerLate row-center">
        <p-button pRipple styleClass="p-button-text p-button-plain" label="Conecteaza-te"></p-button>
        <p-button pRipple label="Inscrie-te"></p-button>
    </div>
</div>

