inscrieri.css
.navigation-top-child {
    position: absolute;
    top: 2.19rem;
    left: 59.5rem;
    border-radius: var(--br-xs-5);
    background-color: var(--neutral-color-white);
    width: 11.13rem;
    height: 1.63rem;
}
.java-factory,
.union-icon {
    position: relative;
    flex-shrink: 0;
}
.union-icon {
    width: 3.01rem;
    height: 2.41rem;
}
.java-factory {
    letter-spacing: 0.02em;
    line-height: 1.78rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.25rem;
    height: 1.94rem;
}
.union-parent {
    position: absolute;
    top: 1.73rem;
    left: 5rem;
    width: 13.94rem;
    height: 2.41rem;
    display: flex;
    flex-direction: row;
    padding: var(--padding-9xs) var(--padding-0) var(--padding-9xs) 0;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
    text-align: center;
    font-family: var(--font-radio-canada);
}
.acasa {
    position: relative;
    line-height: 1.75rem;
    cursor: pointer;
}
.nav,
.nav1 {
    display: flex;
    flex-direction: row;
    padding: var(--padding-0) var(--padding-0) var(--padding-xs);
}
.nav {
    align-items: center;
    justify-content: center;
    color: var(--neutral-color-white);
}
.nav1 {
    align-items: flex-start;
    justify-content: flex-start;
}
.contact {
    position: relative;
    line-height: 1.75rem;
}
.list-nav {
    position: absolute;
    top: 2.13rem;
    left: 25.5rem;
    width: 27.44rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-21xl);
    font-size: var(--text-large-reguler-size);
    color: var(--neutral-color-0);
}
.vector-icon {
    position: absolute;
    top: 2.5rem;
    left: 60.13rem;
    width: 0.97rem;
    height: 1rem;
}
.button-text {
    position: relative;
    line-height: 1.63rem;
    font-weight: 500;
}
.lineararrow-right-icon {
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
    display: none;
}
.button {
    border-radius: var(--br-5xs);
    padding: var(--padding-3xs) var(--padding-5xl);
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xs);
}
.button,
.button1,
.call-action {
    display: flex;
    flex-direction: row;
}
.button1 {
    border-radius: var(--br-5xs);
    background-color: var(--color-goldenrod-100);
    padding: var(--padding-3xs) var(--padding-5xl);
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xs);
    color: var(--neutral-color-800);
}
.call-action {
    position: absolute;
    top: 1.5rem;
    left: 72rem;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
    font-size: var(--text-medium-reguler-size);
}
.navigation-top {
    position: relative;
    background-color: var(--neutral-color-800);
    width: 90rem;
    height: 5.88rem;
    flex-shrink: 0;
    font-size: var(--font-size-5xl);
}
.inscrieri-plan-de {
    position: relative;
    line-height: 120%;
    font-weight: 600;
    display: inline-block;
    width: 39.75rem;
}
.lorem-ipsum-dolor {
    position: relative;
    font-size: var(--text-xtra-larger-semibold-size);
    line-height: 2.13rem;
    color: var(--neutral-color-50);
    display: inline-block;
    width: 39.38rem;
}
.headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
}
.container {
    align-self: stretch;
}
.content,
.header {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.content {
    height: 11rem;
    gap: var(--gap-37xl);
}
.header {
    background: linear-gradient(
            258.61deg,
            rgba(218, 178, 74, 0.35),
            rgba(255, 255, 255, 0)
    ),
    #0f1017;
    width: 90rem;
    height: 22.31rem;
    padding: 3.19rem var(--padding-61xl);
    box-sizing: border-box;
    font-size: var(--heading-h1-size);
}
.union-icon1 {
    position: relative;
    width: 6.76rem;
    height: 5.41rem;
    flex-shrink: 0;
}
.java-factory1,
.union-group {
    display: flex;
    align-items: center;
}
.java-factory1 {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 4rem;
    font-weight: 600;
    justify-content: center;
    width: 23.03rem;
    height: 4.35rem;
    flex-shrink: 0;
}
.union-group {
    position: absolute;
    top: 22.63rem;
    left: 54.06rem;
    width: 31.31rem;
    height: 5.41rem;
    flex-direction: row;
    padding: 5.41rem var(--padding-0) var(--padding-0);
    box-sizing: border-box;
    justify-content: flex-start;
    gap: var(--gap-5xl);
}
.mask-group-child {
    position: absolute;
    top: 0;
    left: 42.5rem;
    width: 52.06rem;
    height: 78.63rem;
    opacity: 0.05;
}
.mask-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 90rem;
    height: 46.81rem;
    text-align: center;
    font-size: 3.37rem;
    font-family: var(--font-radio-canada);
}
.all-features-child,
.all-features-item {
    position: absolute;
    top: 0;
    left: 58rem;
    width: 32rem;
    height: 70rem;
    opacity: 0.02;
}
.all-features-item {
    left: 16.94rem;
    width: 70.25rem;
    height: 108.94rem;
    opacity: 0.05;
}
.all-features-inner {
    position: absolute;
    top: 9.5rem;
    left: 7.31rem;
    border-radius: var(--br-xl);
    background-color: var(--neutral-color-white);
    width: 33.81rem;
    height: 2.81rem;
}
.nume-si-prenume {
    position: absolute;
    top: 7rem;
    left: 7.31rem;
    line-height: 1.75rem;
    font-weight: 600;
}
.rectangle-div {
    position: absolute;
    top: 16.81rem;
    left: 7.31rem;
    border-radius: var(--br-xl);
    background-color: var(--neutral-color-white);
    width: 33.81rem;
    height: 2.81rem;
}
.adresa-de-e-mail {
    position: absolute;
    top: 14.38rem;
    left: 7.31rem;
    line-height: 1.75rem;
    font-weight: 600;
}
.all-features-child1 {
    position: absolute;
    top: 24.19rem;
    left: 7.31rem;
    border-radius: var(--br-xl);
    background-color: var(--neutral-color-white);
    width: 33.81rem;
    height: 2.81rem;
}
.all-features-child2 {
    width: 33.81rem;
}
.all-features-child2,
.all-features-child3 {
    position: absolute;
    left: 7.31rem;
    border-radius: var(--br-xl);
    background-color: var(--neutral-color-white);
    height: 2.81rem;
}
.all-features-child2 {
    top: 31.56rem;
}
.all-features-child3 {
    top: 47.69rem;
    width: 13.88rem;
}
.all-features-child4 {
    position: absolute;
    top: 73.25rem;
    left: 8.25rem;
    border-radius: var(--br-9xs);
    background-color: var(--color-darkgray-100);
    border: 1px solid var(--neutral-color-white);
    box-sizing: border-box;
    width: 1.75rem;
    height: 1.75rem;
}
.facultatea,
.numar-de-telefon {
    position: absolute;
    line-height: 1.75rem;
    font-weight: 600;
}
.numar-de-telefon {
    top: 21.75rem;
    left: 7.31rem;
}
.facultatea {
    top: 29.13rem;
    left: 7.81rem;
}
.termeni-si-conditii {
    color: var(--color-goldenrod-100);
}
.am-citit-si-container {
    position: absolute;
    top: 73.25rem;
    left: 11.56rem;
    line-height: 1.75rem;
    font-weight: 600;
}
.introdu-adresa-ta,
.introdu-numarul-tau {
    position: absolute;
    left: 8.81rem;
    font-size: var(--font-size-lg);
    line-height: 2.13rem;
    color: var(--color-darkgray-200);
}
.numele-tau-complet {
    top: 9.88rem;
}
.numele-tau-complet,
.scrie-aici-numele {
    position: absolute;
    left: 8.81rem;
    font-size: var(--font-size-lg);
    line-height: 2.13rem;
    color: var(--color-darkgray-200);
}
.introdu-adresa-ta {
    top: 17.19rem;
}
.introdu-numarul-tau {
    top: 24.56rem;
}
.scrie-aici-numele {
    top: 31.94rem;
}
.all-features-child5 {
    position: absolute;
    top: 55.38rem;
    left: 7.31rem;
    border-radius: var(--br-xl);
    background-color: var(--neutral-color-white);
    width: 33.81rem;
    height: 10.44rem;
}
.mesajul-tau {
    position: absolute;
    top: 52.94rem;
    left: 7.81rem;
    line-height: 1.75rem;
    font-weight: 600;
}
.scrie-aici-mesajul {
    position: absolute;
    top: 55.75rem;
    left: 8.81rem;
    font-size: var(--font-size-lg);
    line-height: 2.13rem;
    color: var(--color-darkgray-200);
}
.selecteaza-cursul {
    position: absolute;
    top: 44.88rem;
    left: 7.81rem;
    line-height: 1.75rem;
    font-weight: 600;
}
.java-l1 {
    position: absolute;
    top: 48.06rem;
    left: 8.81rem;
    font-size: var(--font-size-lg);
    line-height: 2.13rem;
    color: var(--color-darkgray-200);
}
.all-features-child6 {
    position: absolute;
    top: 39.63rem;
    left: 7.31rem;
    border-radius: var(--br-xl);
    background-color: var(--neutral-color-white);
    width: 13.88rem;
    height: 2.81rem;
}
.an-de-studiu {
    position: absolute;
    top: 36.81rem;
    left: 7.81rem;
    line-height: 1.75rem;
    font-weight: 600;
}
.anul-i {
    position: absolute;
    top: 40rem;
    left: 8.81rem;
    font-size: var(--font-size-lg);
    line-height: 2.13rem;
    color: var(--color-darkgray-200);
}
.all-features-child7 {
    position: absolute;
    top: 39.63rem;
    left: 27.25rem;
    border-radius: var(--br-xl);
    background-color: var(--neutral-color-white);
    width: 13.88rem;
    height: 2.81rem;
}
.selecteaza-data {
    position: absolute;
    top: 36.81rem;
    left: 27.75rem;
    line-height: 1.75rem;
    font-weight: 600;
}
.martie {
    position: absolute;
    top: 40rem;
    left: 28.75rem;
    font-size: var(--font-size-lg);
    line-height: 2.13rem;
    color: var(--color-darkgray-200);
}
.button-secondary1 {
    position: relative;
    line-height: 1.75rem;
    font-weight: 500;
}
.button2 {
    position: absolute;
    top: 77.75rem;
    left: 8.25rem;
    border-radius: var(--br-5xs);
    background-color: var(--color-goldenrod-100);
    width: 12.38rem;
    display: flex;
    flex-direction: row;
    padding: var(--padding-base) var(--padding-5xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xs);
    font-size: var(--text-large-reguler-size);
    color: var(--neutral-color-800);
}
.all-features {
    position: relative;
    background-color: var(--neutral-color-800);
    width: 90rem;
    height: 86rem;
    flex-shrink: 0;
    overflow: hidden;
}
.about {
    justify-content: flex-start;
}
.about,
.row {
    display: flex;
}
.union-container {
    display: flex;
    justify-content: flex-start;
    width: 13.94rem;
    height: 2.41rem;
    flex-shrink: 0;
    flex-direction: row;
    padding: 2.41rem var(--padding-0) var(--padding-0);
    box-sizing: border-box;
    align-items: center;
    gap: var(--gap-3xs);
}
.about,
.row {
    flex-direction: column;
    align-items: flex-start;
}
.row {
    align-self: stretch;
    flex: 1;
    flex-direction: row;
    padding: var(--padding-28xl) var(--padding-0) var(--padding-0);
    justify-content: space-between;
    text-align: center;
    font-size: var(--font-size-5xl);
    color: var(--neutral-color-white);
    font-family: var(--font-radio-canada);
}
.subtitle {
    position: relative;
    line-height: 140%;
    font-weight: 600;
    display: inline-block;
    width: 6.97rem;
}
.list-nav1,
.nav-parent,
.row1 {
    display: flex;
    align-items: flex-start;
}
.list-nav1 {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    font-size: var(--text-large-reguler-size);
    color: var(--neutral-color-white);
}
.nav-parent,
.row1 {
    flex-direction: row;
}
.nav-parent {
    justify-content: center;
    gap: var(--gap-37xl);
}
.row1 {
    width: 36.75rem;
    flex-shrink: 0;
    justify-content: space-between;
}
.body,
.heading {
    position: relative;
}
.heading {
    line-height: 140%;
    font-weight: 600;
}
.body {
    font-size: var(--text-large-reguler-size);
    line-height: 1.75rem;
    color: var(--neutral-color-white);
    display: inline-block;
    width: 17.88rem;
}
.copy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
}
.inscrierijavafactoryro {
    position: relative;
    line-height: 1.63rem;
}
.lineararrow-right-icon3 {
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
}
.form-input {
    align-self: stretch;
    border-radius: var(--br-5xs);
    border: 0.5px solid var(--neutral-color-50);
    display: flex;
    flex-direction: row;
    padding: var(--padding-base);
    align-items: center;
    justify-content: space-between;
    font-size: var(--text-medium-reguler-size);
    color: var(--neutral-color-white);
}
.column,
.content1,
.row2 {
    display: flex;
    align-items: flex-start;
}
.column {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-5xl);
}
.content1,
.row2 {
    align-self: stretch;
    flex-direction: row;
}
.row2 {
    flex: 1;
    justify-content: center;
}
.content1 {
    height: 18.75rem;
    flex-shrink: 0;
    justify-content: flex-start;
    gap: var(--gap-41xl);
}
.divider-icon {
    position: relative;
    width: 80rem;
    height: 0.13rem;
    flex-shrink: 0;
}
.layer-bottom,
.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-5xl);
}
.left {
    justify-content: flex-start;
    gap: var(--gap-61xl);
}
.united-states-icon {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    overflow: hidden;
}
.content2,
.dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content2 {
    justify-content: flex-start;
    gap: var(--gap-9xs);
}
.dropdown {
    border-radius: var(--br-5xs);
    border: 2px solid var(--neutral-color-50);
    box-sizing: border-box;
    width: 11.25rem;
    flex-shrink: 0;
    padding: var(--padding-xs) var(--padding-base);
    justify-content: space-between;
}
.solidbrandstwitter-icon {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}
.right,
.share {
    flex-direction: row;
    justify-content: flex-start;
}
.share {
    display: flex;
    align-items: flex-start;
    gap: var(--gap-base);
}
.right {
    gap: var(--gap-5xl);
    font-size: var(--text-medium-reguler-size);
}
.footer,
.inscrieri,
.layer,
.right {
    display: flex;
    align-items: center;
}
.layer {
    width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--text-large-reguler-size);
    color: var(--neutral-color-white);
}
.footer,
.inscrieri {
    flex-direction: column;
}
.footer {
    background-color: var(--neutral-color-800);
    width: 90rem;
    height: 34.38rem;
    flex-shrink: 0;
    overflow: hidden;
    padding: var(--padding-61xl) var(--padding-61xl) var(--padding-21xl);
    box-sizing: border-box;
    justify-content: flex-end;
    gap: var(--gap-21xl);
    color: var(--neutral-color-800);
}
.inscrieri {
    position: relative;
    background-color: var(--neutral-color-white);
    width: 100%;
    height: 148.25rem;
    overflow-y: auto;
    justify-content: flex-start;
    text-align: left;
    font-size: var(--text-xtra-larger-semibold-size);
    color: var(--neutral-color-white);
    font-family: var(--text-medium-reguler);
}
