<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Radio Canada:wght@600&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
</head>
<body>
<div class="inscrieri">
    <div class="navigation-top">
        <div class="navigation-top-child"></div>
        <div class="union-parent">
            <img class="union-icon" alt="" src="./assets/union.svg"/>
            <div class="java-factory">Java Factory</div>
        </div>
        <div class="list-nav">
            <div class="nav59">
                <div class="acasa" (click)="navigateTo('/')">Acasa</div>
            </div>
            <div class="nav60">
                <div class="acasa" (click)="navigateTo('/about')">Despre</div>
            </div>
            <div class="nav61">
                <div class="acasa" (click)="navigateTo('/courses')">Cursuri</div>
            </div>
            <div class="nav61">
                <div class="acasa" (click)="navigateTo('/contact')">Contact</div>
            </div>
            <div class="nav61">
                <div class="acasa" (click)="navigateTo('/faq')">FAQ</div>
            </div>
        </div>
        <img class="vector-icon" alt="" src="./assets/vector.svg"/>
        <div class="call-action">
            <div class="button">
                <div class="button-text">Log In</div>
                <img
                        class="lineararrow-right-icon"
                        alt=""
                        src="./assets/lineararrowright.svg"
                />
            </div>
            <div class="button1">
                <div class="button-text">Sign Up</div>
                <img
                        class="lineararrow-right-icon"
                        alt=""
                        src="./assets/lineararrowright.svg"
                />
            </div>
        </div>
    </div>
    <div class="header">
        <div class="content">
            <div class="headline">
                <div class="inscrieri-plan-de">Inscrieri plan de student</div>
                <div class="lorem-ipsum-dolor">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna
                </div>
            </div>
            <div class="container"></div>
        </div>
    </div>
    <div class="all-features">
        <div class="mask-group">
            <div class="union-group">
                <img class="union-icon1" alt="" src="./assets/union1.svg"/>
                <div class="java-factory1">Java Factory</div>
            </div>
            <img
                    class="mask-group-child"
                    alt=""
                    src="./assets/rectangle-4369.svg"
            />
        </div>
        <img
                class="all-features-child"
                alt=""
                src="./assets/rectangle-4370.svg"
        /><img
            class="all-features-item"
            alt=""
            src="./assets/rectangle-4367.svg"
    />
        <div class="all-features-inner"></div>
        <div class="nume-si-prenume"></div>
        <div class="rectangle-div"></div>
        <div class="adresa-de-e-mail">Adresa de e-mail:</div>
        <div class="all-features-child1"></div>
        <div class="all-features-child2"></div>
        <div class="all-features-child3"></div>
        <div class="all-features-child4"></div>
        <div class="numar-de-telefon">Numar de telefon:</div>
        <div class="facultatea">Facultatea</div>
        <div class="am-citit-si-container">
          <span>Am citit si sunt de acord cu </span
          ><span class="termeni-si-conditii">termeni si conditii</span
        ><span> si cu </span
        ><span class="termeni-si-conditii"
        >politica de confidentialitate</span
        >
        </div>
        <div class="numele-tau-complet">Numele tau complet</div>
        <div class="introdu-adresa-ta">Introdu adresa ta de email</div>
        <div class="introdu-numarul-tau">Introdu numarul tau de telefon</div>
        <div class="scrie-aici-numele">
            Scrie aici numele facultatii la care esti student
        </div>
        <div class="all-features-child5"></div>
        <div class="mesajul-tau">Mesajul tau</div>
        <div class="scrie-aici-mesajul">Scrie aici mesajul tau</div>
        <div class="selecteaza-cursul">Selecteaza cursul</div>
        <div class="java-l1">Java L1</div>
        <div class="all-features-child6"></div>
        <div class="an-de-studiu">An de studiu</div>
        <div class="anul-i">Anul I</div>
        <div class="all-features-child7"></div>
        <div class="selecteaza-data">Selecteaza data</div>
        <div class="martie">20 Martie</div>
        <div class="button2">
            <div class="button-secondary1">Inscrie-te</div>
            <img
                    class="lineararrow-right-icon"
                    alt=""
                    src="./assets/lineararrowright1.svg"
            />
        </div>
    </div>
    <div class="footer">
        <div class="content1">
            <div class="row">
                <div class="about">
                    <div class="union-container">
                        <img class="union-icon" alt="" src="./assets/union2.svg"/>
                        <div class="java-factory">Java Factory</div>
                    </div>
                </div>
            </div>
            <div class="row1">
                <div class="nav-parent">
                    <div class="copy">
                        <div class="subtitle">Products</div>
                        <div class="list-nav1">
                            <div class="contact">Cursuri</div>
                            <div class="contact">Tarife</div>
                            <div class="contact">Instructori</div>
                        </div>
                    </div>
                    <div class="copy">
                        <div class="heading">Company</div>
                        <div class="list-nav1">
                            <div class="contact">Despre</div>
                            <div class="contact">Contact</div>
                            <div class="contact">Testimoniale</div>
                        </div>
                    </div>
                    <div class="copy">
                        <div class="heading">Support</div>
                        <div class="list-nav1">
                            <div class="contact">Contacteaza-ne</div>
                            <div class="contact">FAQ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row2">
                <div class="column">
                    <div class="copy">
                        <div class="heading">Subscribe to our newsletter.</div>
                        <div class="body">
                            Pentru mai multe detalii ne puteti contacta la:
                        </div>
                    </div>
                    <div class="form-input">
                        <div class="inscrierijavafactoryro">
                            inscrieri@javafactory.ro
                        </div>
                        <img
                                class="lineararrow-right-icon3"
                                alt=""
                                src="./assets/lineararrowright2.svg"
                        />
                    </div>
                </div>
            </div>
        </div>
        <img class="divider-icon" alt="" src="./assets/divider.svg"/>
        <div class="layer">
            <div class="left">
                <div class="contact">© 2023 Java Factory Inc.</div>
                <div class="layer-bottom">
                    <div class="contact">Politica de confidentialitate</div>
                    <div class="contact">Termeni si conditii</div>
                    <div class="contact">Politica de utilizare cookie-uri</div>
                </div>
            </div>
            <div class="right">
                <div class="dropdown">
                    <div class="content2">
                        <img
                                class="united-states-icon"
                                alt=""
                                src="./assets/united-states.svg"
                        />
                        <div class="inscrierijavafactoryro">Romana (RO)</div>
                    </div>
                    <img
                            class="united-states-icon"
                            alt=""
                            src="./assets/chevrondown.svg"
                    />
                </div>
                <div class="share">
                    <img
                            class="solidbrandstwitter-icon"
                            alt=""
                            src="./assets/solidbrandstwitter.svg"
                    /><img
                        class="solidbrandstwitter-icon"
                        alt=""
                        src="./assets/solidbrandsfacebook.svg"
                /><img
                        class="solidbrandstwitter-icon"
                        alt=""
                        src="./assets/solidbrandslinkedin.svg"
                />
                </div>
            </div>
        </div>
    </div>
</div>
</body>
