<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Radio Canada:wght@600&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
</head>
<body>
<div class="acasa1">
    <div class="navigation-top1">
        <div class="frame-div">
            <img class="union-icon3" alt="" src="./assets/union3.svg"/>
            <div class="java-factory3">Java Factory</div>
        </div>
        <div class="list-nav4">
            <div class="nav8">
                <div class="inregistrare">Acasa</div>
            </div>
            <div class="nav9">
                <a href="/about" class="menu-item" id="despreText">Despre</a>
            </div>
            <div class="nav9">
                <a href="/courses" class="menu-item" id="cursuriText">Cursuri</a>
            </div>
            <div class="nav9">
                <a href="/contact" class="menu-item" id="contactText">Contact</a>
            </div>
            <div class="nav9">
                <a href="/faq" class="menu-item" id="fAQText">FAQ</a>
            </div>
        </div>
        <img class="vector-icon1" alt="" src="./assets/vector.svg"/>
        <div class="call-action1">
            <div class="button3">
                <a href="/login" class="login-button">Conecteaza-te</a>
            </div>
            <div class="button4">
                <a href="/inscrieri" class="signup-button">Inscrie-te</a>
            </div>
        </div>
    </div>

    <div class="header1">
        <div class="content3">
            <div class="headline1">
                <div class="cursuri-java-pentru">Învață Java rapid și eficient!</div>
                <div class="lorem-ipsum-dolor1">
                    <ul class="listh">
                        <li>Mentorship, nu doar un curs</li>
                        <li>Grupe in medie de numai 7 studenti</li>
                        <li>Pret accesibil</li>
                        <li>Plata in rate</li>
                        <li>De oriunde din lume</li>
                    </ul>
                </div>
            </div>
            <div class="container1">
                <div class="button5">
                    <div class="inregistrare">Vezi cursuri</div>
                    <img
                            class="lineararrow-right-icon4"
                            alt=""
                            src="./assets/lineararrowright4.svg"
                    />
                </div>
                <div class="button6">
                    <div class="inregistrare">Afla mai multe</div>
                    <img
                            class="lineararrow-right-icon7"
                            alt=""
                            src="./assets/lineararrowright4.svg"
                    />
                </div>
            </div>
        </div>
        <div class="image">
            <div class="ornament"></div>
        </div>
    </div>
    <div class="acasa-child"></div>
    <img class="icon" alt="" src="./assets/@2x.png"/><img
        class="acasa-item"
        alt=""
        src="./assets/ellipse-28@2x.png"
/><img class="acasa-inner" alt="" src="./assets/ellipse-29@2x.png"/>
    <div class="footer1">
        <div class="content4">
            <div class="row3">
                <div class="about1">
                    <div class="union-parent1">
                        <img class="union-icon3" alt="" src="./assets/union4.svg"/>
                        <div class="java-factory3">Java Factory</div>
                    </div>
                </div>
            </div>
            <div class="row4">
                <div class="nav-group">
                    <div class="feature">
                        <div class="subtitle12">Products</div>
                        <div class="list-nav5">
                            <div class="subtitle13">Cursuri</div>
                            <div class="subtitle13">Tarife</div>
                            <div class="subtitle13">Instructori</div>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="subtitle16">Company</div>
                        <div class="list-nav5">
                            <div class="subtitle13">Despre</div>
                            <div class="subtitle13">Contact</div>
                            <div class="subtitle13">Testimoniale</div>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="subtitle16">Support</div>
                        <div class="list-nav5">
                            <div class="subtitle13">Contacteaza-ne</div>
                            <div class="subtitle13">FAQ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row5">
                <div class="column1">
                    <div class="feature">
                        <div class="subtitle16">Subscribe to our newsletter.</div>
                        <div class="body1">
                            Pentru mai multe detalii ne puteti contacta la:
                        </div>
                    </div>
                    <div class="form-input1">
                        <div class="inscrierijavafactoryro1">
                            inscrieri@javafactory.ro
                        </div>
                        <img
                                class="lineararrow-right-icon7"
                                alt=""
                                src="./assets/lineararrowright3.svg"
                        />
                    </div>
                </div>
            </div>
        </div>
        <img class="divider-icon1" alt="" src="./assets/divider.svg"/>
        <div class="layer1">
            <div class="left1">
                <div class="subtitle13">© 2023 Java Factory Inc.</div>
                <div class="layer-bottom1">
                    <div class="subtitle13">Politica de confidentialitate</div>
                    <div class="subtitle13">Termeni si conditii</div>
                    <div class="subtitle13">Politica de utilizare cookie-uri</div>
                </div>
            </div>
            <div class="right1">
                <div class="dropdown1">
                    <div class="content5">
                        <img
                                class="united-states-icon1"
                                alt=""
                                src="./assets/united-states1.svg"
                        />
                        <div class="inscrierijavafactoryro1">Romana (RO)</div>
                    </div>
                    <img
                            class="united-states-icon1"
                            alt=""
                            src="./assets/chevrondown.svg"
                    />
                </div>
                <div class="share1">
                    <img
                            class="vuesaxlineartick-circle-icon"
                            alt=""
                            src="./assets/solidbrandstwitter1.svg"
                    /><img
                        class="vuesaxlineartick-circle-icon"
                        alt=""
                        src="./assets/solidbrandsfacebook.svg"
                /><img
                        class="vuesaxlineartick-circle-icon"
                        alt=""
                        src="./assets/solidbrandslinkedin.svg"
                />
                </div>
            </div>
        </div>
    </div>
    <div class="setup-conferences">
        <img class="card-icon" alt="" src="./assets/card.svg"/>
        <div class="call-action2">
            <div class="button7">
                <div class="inregistrare">Inregistrare</div>
                <img
                        class="lineararrow-right-icon4"
                        alt=""
                        src="./assets/lineararrowright5.svg"
                />
            </div>
        </div>
        <div class="aboneaza-te-la-newsletter">Aboneaza-te la newsletter</div>
        <div class="at-vero-eos">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque.
        </div>
        <div class="setup-conferences-child"></div>
        <div class="adresa-de-email">Adresa de email</div>
    </div>
    <div class="getting-message">
        <div class="profile">
            <div class="masking-man-photo"></div>
            <div></div>
        </div>
        <img class="bg-icon" alt="" src="./assets/bg.svg"/><img
            class="mask-group-icon"
            alt=""
            src="./assets/mask-group@2x.png"
    />
        <div class="popescu-alexandru">Popescu Alexandru</div>
        <div class="absolvent-curs-java">Absolvent curs Java incepator</div>
        <div class="copy2">
            <div class="et-harum-quidem">
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero
                tempore, cum soluta nobis.
            </div>
            <div class="copy-inner">
                <div class="wrapper">
                    <img class="icon1" alt="" src="./assets/1.svg"/>
                </div>
            </div>
            <div class="frame">
                <img class="icon1" alt="" src="./assets/2.svg"/>
            </div>
        </div>
        <img
                class="slidermultiple-dots-icon"
                alt=""
                src="./assets/slidermultiple-dots.svg"
        /><img class="frame-icon" alt="" src="./assets/frame.svg"/>
        <div class="uiicon-small-arrow-right"></div>
        <img class="vector-icon2" alt="" src="./assets/vector1.svg"/><img
            class="frame-icon1"
            alt=""
            src="./assets/frame1.svg"
    /><img
            class="uiicon-small-arrow-right1"
            alt=""
            src="./assets/uiiconsmallarrowright.svg"
    />
    </div>
    <div class="display-room">
        <div class="header2"></div>
        <div class="copy3">
            <div class="headline2">
                <div class="de-ce-java">De ce Java?</div>
                <div class="button8">
                    <div class="login-button">Watch Story</div>
                    <img
                            class="lineararrow-right-icon7"
                            alt=""
                            src="./assets/lineararrowright6.svg"
                    />
                </div>
            </div>
            <div class="body2">
            <span class="duis-aute">Duis aute</span
            ><span>
              "But I must explain to you how all this mistaken idea of
              denouncing pleasure and praising pain was born and I will give you
              a complete account of the system, and expound the actual teachings
              of the great explorer of the truth, the master-builder of human
              happiness. No one rejects, dislikes, or avoids pleasure itself,
              because it is pleasure, but because those who do not know how to
              pursue pleasure rationally encounter consequences that are
              extremely painful. Nor again is there anyone who loves or pursues
              or desires to obtain pain of itself, because it is pain, but
              because occasionally circumstances occur in which toil and pain
              can procure him some great pleasure. To take a trivial example,
              which of us ever undertakes laborious physical exercise, except to
              obtain some advantage from it? But who has any right to find fault
              with a man who chooses to enjoy a pleasure that has no annoying
              consequences, or one who avoids a pain that produces no resultant
              pleasure?"</span
            >
            </div>
        </div>
    </div>
    <div class="all-features1">
        <div class="mask-group1">
            <img
                    class="mask-group-item"
                    alt=""
                    src="./assets/rectangle-43671.svg"
            /><img
                class="mask-group-inner"
                alt=""
                src="./assets/rectangle-43701.svg"
        />
            <div class="union-parent2">
                <img class="union-icon5" alt="" src="./assets/union5.svg"/>
                <div class="java-factory5">Java Factory</div>
            </div>
            <img
                    class="rectangle-icon"
                    alt=""
                    src="./assets/rectangle-4369.svg"
            />
        </div>
        <div class="content6">
            <div class="copy4">
                <div class="headline1">
                    <div class="de-ce-sa">De ce sa alegi Java Factory?</div>
                    <div class="te-invitam-sa">
                        Te invitam sa alegi Java Factory pentru ca este cea mai de
                        actualitate firma "At vero eos et accusamus et iusto odio
                        dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque corrupti quos dolores et quas.
                    </div>
                </div>
                <div class="feature-parent">
                    <div class="feature">
                        <div class="list-feature">
                            <img
                                    class="vuesaxlineartick-circle-icon"
                                    alt=""
                                    src="./assets/vuesaxlineartickcircle.svg"
                            />
                            <div class="consultanta-profesionala">
                                Consultanta profesionala
                            </div>
                        </div>
                        <div class="list-feature">
                            <img
                                    class="vuesaxlineartick-circle-icon"
                                    alt=""
                                    src="./assets/vuesaxlineartickcircle.svg"
                            />
                            <div class="consultanta-profesionala">
                                Realizarea proiectelor in echipa
                            </div>
                        </div>
                        <div class="list-feature2">
                            <img
                                    class="vuesaxlineartick-circle-icon"
                                    alt=""
                                    src="./assets/vuesaxlineartickcircle.svg"
                            />
                            <div class="materie-predata-de">
                                Materie predata de un Java Engineer
                            </div>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="list-feature3">
                            <img
                                    class="vuesaxlineartick-circle-icon"
                                    alt=""
                                    src="./assets/vuesaxlineartickcircle.svg"
                            />
                            <div class="consultanta-profesionala">
                                Realizarea unui CV de succes
                            </div>
                        </div>
                        <div class="list-feature3">
                            <img
                                    class="vuesaxlineartick-circle-icon"
                                    alt=""
                                    src="./assets/vuesaxlineartickcircle.svg"
                            />
                            <div class="consultanta-profesionala">
                                Introducere in industria IT
                            </div>
                        </div>
                        <div class="list-feature3">
                            <img
                                    class="vuesaxlineartick-circle-icon"
                                    alt=""
                                    src="./assets/vuesaxlineartickcircle.svg"
                            />
                            <div class="dobandirea-experientei-in">
                                Dobandirea experientei in Java
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="whatis-mentorship">
        <div class="copy5">
            <div class="headline2">
                <div class="de-ce-java">Ce este mentoratul?</div>
                <p class="normal-text"> În programul nostru de mentorat, vei fi învățat Java de către un expert,
                    într-un <b>grup restrans și unit</b> si se vor impartasii secrete ale industriei</p>
                <p class="normal-text">
                    Vei învăța cele mai bune practici și vei crea proiecte personale,
                    care îți vor îmbunătăți portofoliul și ți se vor potrivi în <b>CV-ul și LinkedIn-ul tău</b>.
                </p>
                <p class="normal-text">
                    Îți oferim sprijinul nostru în <b>orice ai nevoie</b>, inclusiv în dezvoltarea CV-ului, a profilului de
                    LinkedIn, dar si in evolutia in cariera si eventualele blocaje
                </p>
                <p class="normal-text">
                    Alătură-te acum și vei avea parte de o experiență de învățare plină de valoare, alaturi de noii tai colegi si de mentorul ce va va ghida spre noua cariera.
                </p>
            </div>
        </div>
        <div class="about-child"></div>
        <img
                class="unsplash95yrwf6cnw8-icon"
                alt=""
                src="./assets/unsplash95yrwf6cnw8@2x.png"
        />
    </section>
    <div class="partnership">
        <div class="partnership-child"></div>
        <div class="partnership-child"></div>
        <div class="partnership-child"></div>
        <div class="partnership-child"></div>
    </div>
    <div class="program-flexibil">Program flexibil</div>
    <div class="costuri-reduse">Costuri reduse</div>
    <div class="instructori-dedicati">Instructori dedicati</div>
    <div class="cursuri-accesibile">Cursuri accesibile</div>
    <div class="button11">
        <div class="inregistrare">Inscrie-te acum</div>
        <img
                class="lineararrow-right-icon4"
                alt=""
                src="assets/lineararrowright5.svg"
        />
    </div>
    <img class="acasa-child1" alt="" src="./assets/frame-6334.svg"/><img
        class="acasa-child2"
        alt=""
        src="./assets/frame-6335.svg"
/><img class="acasa-child3" alt="" src="./assets/frame-6336.svg"/><img
        class="chart-icon"
        alt=""
        src="./assets/chart.svg"
/><img class="group-icon" alt="" src="./assets/group-7264.svg"/>
</div>
</body>
