body {
    width: 100%;
    height: 100%;
}

.heroSection {
    padding: 130px 0px;
    width: 100%;
    background: linear-gradient(258.61deg, rgba(218, 178, 74, 0.35) 13.95%, rgba(255, 255, 255, 0) 90.73%);

}

.buttonContainer {
    gap: 16px;
}

.callToAction {
    width: 45%;
    gap: 40px;
}

.bubbles {
    width: 45%;
    gap: 15px;
}

.bubbleRow {
    gap: 80px;
}

.chips {
    background-color: var(--background);
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 0px 16px 50px rgba(149, 164, 175, 0.53);
}

.chip {
    border: solid 4px var(--main);
    border-radius: 33px;
    gap: 13px;
    padding: 13px 44px;
    max-width: 308px;
    width: 100%;
}

.twoSided {
    background-color: #F8F8F8;
    gap: 70px;
    padding: 7vw;
}

.rightSide {
    gap: 24px;
    width: 50%;
}

.leftSide {
    width: 50%;
}

.oneSided {
    background-color: white;
    padding: 7vw;
    gap: 24px;
}

.bullets {
    gap: 48px;
}

.bulletsColumn {
    gap: 22px;
}

.bigLogoTitle {
    font-size: 54px;
}


.chooseJava {
    width: 50%;
    gap: 80px;
}

.bigLogo {
    width: 5rem;
}

.logoSide {
    width: 50%;
    gap: 20px;
    width: 50%;
}

.gapping {
    gap: 15px;
}

.parallelogram {
    position: absolute; 
    transform: skewX(-20deg);
}

.containerParalelo {
    position: absolute;
    
}

.p1 {
    background-color: rgba(218, 178, 74, 0.05); 
    width: 500px;
    height: 1200px;
}

.p2 {
    background-color: rgba(255, 255, 255, 0.02); 
    width: 100px;
    height: 1200px;
}

.p3 {
    width: 500px;
    height: 1200px;
}

.motive {
    background-color: var(--main-text);
    position: relative;
    padding: 7vw;
    gap: 70px;
    overflow: hidden;
    background-image:url(../../../assets/paralel.svg);
    background-size: cover;
}

.chipsContainer {
    width: 100%;
}

.newsletter {
    background: #F8F8F8;
}

@media screen and (max-width: 1025px) {
    .chips {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
    }
    .chip {
        max-width: unset;
        width: 100%;
    }
    .bubbleRow {
        gap: 40px;
    }
    .logoSide {
        display: none;
    }
    .chooseJava {
        width: 100%;
    }
}

@media screen and (max-width: 960px) {
    .bubbles {
        display: none;
    }
    .callToAction {
        width: 90%;
    }
}

@media (max-width: 540px) {
    .buttonContainer {
        flex-direction: column;
        align-items: flex-start;
    }
    .twoSided {
        padding: 15vw 7vw;
    }
    .oneSided {
        padding: 15vw 7vw;
    }
    .callToAction {
        gap: 20px;
    }
    .heroSection {
        padding: 130px 7vw 10vw;
    }
    .chips {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        padding: 15vw 7vw;
    }
    .leftSide {
        display: none;
    }
    .rightSide {
        width: 100%;
    }
    .motive {
        flex-direction: column;
        padding: 15vw 7vw;
    }
    .chooseJava {
        width: 100%;
        gap: 30px;
    }
    .logoSide {
        display: none;
    }
    .bullets {
        flex-direction: column;
        gap: 22px;
    }
}
