
    <app-navbar></app-navbar>
    <div class="heroSection row-center">    
        <div class="callToAction column-center-start">
            <div>
                <h1>Cursuri Java pentru tine</h1>
                <p class="p-white">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="buttonContainer row-start-center">
                <p-button label="Vezi cursuri"></p-button>
                <p-button styleClass="p-button-outlined p-button-plain" icon="pi pi-arrow-right" iconPos="right" label="Afla mai multe"></p-button>
            </div>
        </div>
        <div class="bubbles column-center">
            <div class="bubbleRow row-center-end">
                <img style="width: 263px" src="./assets/@2x.png">
                <img style="width: 200px" src="./assets/ellipse-29@2x.png">
            </div>
            <img style="width: 300px" src="./assets/ellipse-28@2x.png">
        </div>
    </div>
    <div class="chips">
        <div class="chipsContainer row-center">
            <div class="chip row-center">
                <img class="chipIcon" src="./assets/wallet.svg">
                Cursuri accesibile
            </div>
        </div>
        <div class="chipsContainer row-center">
            <div class="chip row-center">
                <img class="chipIcon" src="./assets/userIcon.svg">
                Instructori dedicati
            </div>
        </div>
        <div class="chipsContainer row-center">
            <div class="chip row-center">
                <img class="chipIcon" src="./assets/time.svg">
                Program flexibil
            </div>
        </div>
        <div class="chipsContainer row-center">
            <div class="chip row-center">
                <img class="chipIcon" src="./assets/charts.svg">
                Costuri reduse
            </div>
        </div>
    </div>
    <p-scrollTop target="parent" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up"></p-scrollTop>
    <div class="twoSided row-center">
        <img class="leftSide" src="./assets/macbook.png">
        <div class="rightSide column-start">
            <h2>Istoric Java</h2>
            <p class="p-gray">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
    </div>
    <div class="oneSided column-start">
        <h2>De ce Java?</h2>
        <p class="p-gray">Duis aute "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account 
            of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure 
            itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there 
            anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him 
            some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right 
            to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</p>
    </div>
    <div class="motive row-center">
        <!-- <div class="containerParalelo row-center">
            <div class="parallelogram p1"></div>
            <div class="parallelogram p2"></div>
        </div> -->
        <!-- <div class="parallelogram p3"></div>      -->
        <div class="chooseJava column-start">
            <div class="column-start">
                <h2 class="h2-white">De ce sa alegi Java Factory?</h2>
                <div class="gapping column-start">
                    <p class="p-white p-small">Te invitam sa alegi Java Factory pentru ca este cea mai de actualitate firma "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum deleniti atque corrupti quos dolores et quas.</p>
                    <div class="bullets row-start">
                        <div class="bulletsColumn column-start">
                            <p-chip label="Consultanta profesionala" image="./assets/tick-circle.svg"></p-chip>
                            <p-chip label="Realizarea proiectelor in echipa" image="./assets/tick-circle.svg"></p-chip>
                            <p-chip label="Materie predata de un Java Engineer" image="./assets/tick-circle.svg"></p-chip>
                        </div>
                        <div class="bulletsColumn column-start">
                            <p-chip label="Realizarea unui CV de succes" image="./assets/tick-circle.svg"></p-chip>
                            <p-chip label="Introducere in industria IT" image="./assets/tick-circle.svg"></p-chip>
                            <p-chip label="Dobandirea experientei in Java" image="./assets/tick-circle.svg"></p-chip>
                        </div>
                    </div>
                </div>
            </div>
            <p-button pRipple label="Inscrie-te acum"></p-button>
        </div>
        <div class="logoSide row-center">
            <img class="bigLogo" src="./assets/union.svg">
            <span class="bigLogoTitle">Java Factory</span>
        </div>
    </div>
    <div class="testimonials">
        <app-testimonials></app-testimonials>
    </div>
    <div class="newsLetter row-center">
        <app-newsletter></app-newsletter>
    </div>
<app-footer></app-footer>
    


