<div class="newsLetter row-center">
    <div class="newsBox row-center-start">
        <div class="delimiter column-center-start">
            <h3>Aboneaza-te la newsletter</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</p>
            <div class="inputs row-start-center">
                <input pInputText type="text" class="p-inputtext-lg" placeholder="Adresa de email" [(ngModel)]="email" />
                <p-button pRipple label="Inregistrare" (onClick)="subscribe()"></p-button>
            </div>
        </div>
    </div>
</div>
