<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Radio Canada:wght@600&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
</head>
<body>
<div class="faq2">
    <div class="footer2">
        <div class="content7">
            <div class="row6">
                <div class="about4">
                    <button class="frame-button">
                        <img class="union-icon6" alt="" src="./assets/union6.svg"/>
                        <div class="java-factory6">Java Factory</div>
                    </button>
                </div>
            </div>
            <div class="row7">
                <div class="nav-container">
                    <div class="nav16">
                        <input class="subtitle24" type="text"/>
                        <div class="list-nav8">
                            <div class="subtitle25">Cursuri</div>
                            <div class="subtitle25">Tarife</div>
                            <div class="subtitle25">Instructori</div>
                        </div>
                    </div>
                    <div class="nav16">
                        <input class="subtitle28" type="text"/>
                        <div class="list-nav8">
                            <div class="subtitle25">Despre</div>
                            <div class="subtitle25">Contact</div>
                            <div class="subtitle25">Testimoniale</div>
                        </div>
                    </div>
                    <div class="nav16">
                        <input class="subtitle28" type="text"/>
                        <div class="list-nav8">
                            <div class="subtitle25">Contacteaza-ne</div>
                            <div class="subtitle25">FAQ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row8">
                <div class="column2">
                    <div class="nav16">
                        <div class="heading2">Subscribe to our newsletter.</div>
                        <div class="body5">
                            Pentru mai multe detalii ne puteti contacta la:
                        </div>
                    </div>
                    <div class="form-input2">
                        <div class="inscrierijavafactoryro2">
                            inscrieri@javafactory.ro
                        </div>
                        <img
                                class="lineararrow-right-icon14"
                                alt=""
                                src="./assets/lineararrowright7.svg"
                        />
                    </div>
                </div>
            </div>
        </div>
        <img class="divider-icon2" alt="" src="./assets/divider.svg"/>
        <div class="layer2">
            <div class="left2">
                <div class="subtitle25">© 2023 Java Factory Inc.</div>
                <div class="layer-bottom2">
                    <div class="subtitle25">Politica de confidentialitate</div>
                    <div class="subtitle25">Termeni si conditii</div>
                    <div class="subtitle25">Politica de utilizare cookie-uri</div>
                </div>
            </div>
            <div class="right2">
                <div class="dropdown2">
                    <div class="content8">
                        <img
                                class="united-states-icon2"
                                alt=""
                                src="./assets/united-states2.svg"
                        />
                        <div class="inscrierijavafactoryro2">Romana (RO)</div>
                    </div>
                    <img
                            class="united-states-icon2"
                            alt=""
                            src="./assets/chevrondown.svg"
                    />
                </div>
                <div class="share2">
                    <img
                            class="solidbrandstwitter-icon2"
                            alt=""
                            src="./assets/solidbrandstwitter1.svg"
                    /><img
                        class="solidbrandstwitter-icon2"
                        alt=""
                        src="./assets/solidbrandsfacebook.svg"
                /><img
                        class="solidbrandstwitter-icon2"
                        alt=""
                        src="./assets/solidbrandslinkedin.svg"
                />
                </div>
            </div>
        </div>
    </div>
    <div class="setup-conferences1">
        <img class="card-icon1" alt="" src="./assets/card1.svg"/>
        <div class="call-action3">
            <div class="button12">
                <div class="inregistrare1">Inregistrare</div>
                <img
                        class="lineararrow-right-icon15"
                        alt=""
                        src="./assets/lineararrowright7.svg"
                />
            </div>
        </div>
        <div class="aboneaza-te-la-newsletter1">Aboneaza-te la newsletter</div>
        <div class="at-vero-eos1">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque.
        </div>
        <div class="setup-conferences-item"></div>
        <div class="adresa-de-email1">Adresa de email</div>
    </div>
    <div class="navigation-top2">
        <div class="union-parent3">
            <img class="union-icon6" alt="" src="./assets/union7.svg"/>
            <div class="java-factory7">Java Factory</div>
        </div>
        <div class="list-nav11">
            <!--            <div class="nav19">-->
            <!--                <div class="acasa3" id="acasaText">Acasa</div>-->
            <!--            </div>-->
            <!--            <div class="nav20">-->
            <!--                <div class="acasa3" id="despreText">Despre</div>-->
            <!--            </div>-->
            <!--            <div class="nav20">-->
            <!--                <div class="acasa3" id="cursuriText">Cursuri</div>-->
            <!--            </div>-->
            <!--            <div class="nav20">-->
            <!--                <div class="acasa3" id="contactText">Contact</div>-->
            <!--            </div>-->
            <!--            <div class="nav23"><div class="inregistrare1">FAQ</div></div>-->

            <div class="nav19">
                <div class="acasa3" (click)="navigateTo('/')">Acasa</div>
            </div>
            <div class="nav20">
                <div class="acasa3" (click)="navigateTo('/about')">Despre</div>
            </div>
            <div class="nav20">
                <div class="acasa3" (click)="navigateTo('/courses')">Cursuri</div>
            </div>
            <div class="nav20">
                <div class="acasa3" (click)="navigateTo('/contact')">Contact</div>
            </div>
            <div class="nav20">
                <div class="inregistrare1" (click)="navigateTo('/faq')">FAQ</div>
            </div>
        </div>
        <img class="vector-icon3" alt="" src="./assets/vector.svg"/>
        <div class="call-action4">
            <div class="button13">
                <div class="button-text5">Log In</div>
                <img
                        class="lineararrow-right-icon15"
                        alt=""
                        src="./assets/lineararrowright7.svg"
                />
            </div>
            <div class="button14">
                <div class="button-text5">Sign Up</div>
                <img
                        class="lineararrow-right-icon15"
                        alt=""
                        src="./assets/lineararrowright7.svg"
                />
            </div>
        </div>
    </div>
    <div class="header3">
        <div class="content9">
            <div class="headline6">
                <div class="faq4">FAQ</div>
                <div class="afla-aici-raspunsurile">
                    Afla aici raspunsurile si sfaturile noastre la cele mai frecvente
                    intrebari primite de curiosi ca tine.
                </div>
            </div>
            <div class="container2"></div>
        </div>
    </div>
    <div class="faq-child"></div>
    <div class="faq-item"></div>
    <div class="faq-inner"></div>
    <div class="faq-child1"></div>
    <div class="faq-child2"></div>
    <div class="faq-child3"></div>
    <div class="faq-child4"></div>
    <div class="faq-child5"></div>
    <div class="faq-child6"></div>
    <div class="faq-child7"></div>
    <div class="faq-child8"></div>
    <div class="faq-child9"></div>
    <div class="faq-child10"></div>
    <div class="faq-child11"></div>
    <div class="faq-child12"></div>
    <div class="headline7"></div>
    <div class="care-este-varsta">Care este varsta minima de inscriere?</div>
    <div class="exista-un-proces">Exista un proces de selectie?</div>
    <div class="daca-lipsesc-pot">Daca lipsesc, pot recupera o sesiune?</div>
    <div class="administrativ">Administrativ</div>
    <div class="cursuri3">Cursuri</div>
    <div class="consultanta">Consultanta</div>
    <div class="general">General</div>
    <div class="se-poate-achita">Se poate achita cash?</div>
    <div class="ce-configuratie-trebuie">
        Ce configuratie trebuie sa aiba laptop-ul?
    </div>
    <div class="in-ce-limba">In ce limba sunt predate cursurile?</div>
    <div class="care-este-nivelul">
        Care este nivelul minim de programare cerut?
    </div>
    <div class="primesc-diploma-de">Primesc diploma de absolvire?</div>
    <div class="vor-exista-teste">
        Vor exista teste pe parcursul cursului?
    </div>
    <div class="vom-avea-un">Vom avea un proiect de echipa?</div>
    <div class="cate-persoane-sunt">Cate persoane sunt intr-o grupa?</div>
    <div class="cat-de-cautati">
        Cat de cautati sunt programatorii in piata IT?
    </div>
    <div class="care-sunt-sansele">
        Care sunt sansele de angajare dupa acest curs?
    </div>
    <div class="cum-sa-imi">Cum sa imi construiesc CV-ul?</div>
    <div class="care-sunt-pasii">
        Care sunt pasii pentru a obtine jobul dorit?
    </div>
    <img
            class="keyboard-arrow-down-icon"
            alt=""
            src="./assets/keyboard-arrow-down.svg"
    /><img
        class="keyboard-arrow-down-icon1"
        alt=""
        src="./assets/keyboard-arrow-down1.svg"
/><img
        class="keyboard-arrow-down-icon2"
        alt=""
        src="./assets/keyboard-arrow-down2.svg"
/><img
        class="keyboard-arrow-down-icon3"
        alt=""
        src="./assets/keyboard-arrow-down3.svg"
/><img
        class="keyboard-arrow-down-icon4"
        alt=""
        src="./assets/keyboard-arrow-down4.svg"
/><img
        class="keyboard-arrow-down-icon5"
        alt=""
        src="./assets/keyboard-arrow-down5.svg"
/><img
        class="keyboard-arrow-down-icon6"
        alt=""
        src="./assets/keyboard-arrow-down6.svg"
/><img
        class="keyboard-arrow-down-icon7"
        alt=""
        src="./assets/keyboard-arrow-down7.svg"
/><img
        class="keyboard-arrow-down-icon8"
        alt=""
        src="./assets/keyboard-arrow-down8.svg"
/><img
        class="keyboard-arrow-down-icon9"
        alt=""
        src="./assets/keyboard-arrow-down9.svg"
/><img
        class="keyboard-arrow-down-icon10"
        alt=""
        src="./assets/keyboard-arrow-down10.svg"
/><img
        class="keyboard-arrow-down-icon11"
        alt=""
        src="./assets/keyboard-arrow-down11.svg"
/><img
        class="keyboard-arrow-down-icon12"
        alt=""
        src="./assets/keyboard-arrow-down12.svg"
/><img
        class="keyboard-arrow-down-icon13"
        alt=""
        src="./assets/keyboard-arrow-down13.svg"
/><img
        class="keyboard-arrow-down-icon14"
        alt=""
        src="./assets/keyboard-arrow-down14.svg"
/><img class="faq-child13" alt="" src="./assets/group-7264.svg"/>
</div>
</body>
