
.heroSection {
    padding: 180px 80px 130px 80px;
    background: white;
    gap: 63px;
}

.rightSide {
    gap: 24px;
    padding: 0px 50px;
}

h2 {
    font-size: 70px;
}

.heroImage {
    width: 80%;
}

.twoSided {
    gap: 70px;
}

.course {
    background: var(--main-text);
    gap: 80px;
    padding: 100px;
}

.title {
    color:white;
}

.faq {
    background: white;
    padding: 100px;
    gap: 100px;
}

.accordions {
    background: white;
    padding: 100px;
    gap: 58px;
}

.accordionsContainer {
    width: 100%;
}

.cardsContainer {
    background-color: white;
    gap: 100px;
}

.card {
    background: linear-gradient(180deg, #0F1017 56.7%, #DAB24A 212.37%, rgba(15, 16, 23, 0.00) 218.27%);
    border-radius: 20px;
}

.card1 {
    background: var(--main-text);
    border-radius: 20px;
}

.section {
    gap: 24px;
}

.headBar {
    width: 150px;
    border: 2px solid var(--main);
    margin: 0px 0px 0px 10px;
}

.inlineHr {
    width: 100%;
}

.adjacent {
    font-weight: 300;
}

h3 {
    font-weight: 500;
}

.cardHeader {
    gap: 10px;
    padding: 4vw 4vw 0vw 4vw;
    width: 100%;
}

.perks {
    padding: 2.5vw;
    gap: 2px;
}

.tile {
    gap: 10px;
    padding: 0px 15px;
}

.cardFooter {
    gap: 40px;
    padding: 0vw 4vw 3vw 4vw;
}

.price {
    font-size: 34px;
    font-weight: 600;
}

.category {
    font-size: 16px;
    font-weight: 600;
}


.cards {
    padding: 0px 7vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: white;
    gap: 30px;
    align-items: stretch;
}

@media (max-width: 1025px) {
    .heroSection {
        gap:40px;
        padding-bottom: 90px;
    }
    .heroImage {
        display: none;
    }
    .rightSide {
        padding: 0px;
    }
    h2 {
        font-size: 44px;
    }
    .course {
        padding: 7vw;
        gap: 20px;
    }
    .title {
        padding: 0px;
    }
    .levels {
        align-items: flex-start;
        flex-direction: column;
    }
    h3 {
        font-size: 32px;
    }
    .faq {
        padding: 7vw;
        gap: 30px;
    }
    .accordions {
        padding: 7vw 7vw 100px;
        gap: 30px;
    }
    .sectionTitle {
        font-size: 32px;
    }
    .section {
        gap: 15px;
    }
    .cardsContainer {
        gap: 30px;
    }
    .heroSection {
        padding: 150px 7vw 80px;
        gap: 30px;
    }
}

@media (max-width: 540px) {
    .cards {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 7vw 7vw 100px;
        }
        .cardFooter {
            gap: 40px;
            padding: 0vw 9vw 10vw 9vw;
        }
        .perks {
            padding: 7vw;
        }
        .cardHeader {
            padding: 12vw 12vw 0vw 12vw;
        }
        .cardFooter {
            gap: 20px;
        }
        .course {
            padding: 15vw 7vw;
        }
        .faq {
            padding: 15vw 7vw;
        }
}

@media (max-width: 1024px) and (min-width: 540px) {
        .cards {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        }
        .cardFooter {
            gap: 30px;
            padding: 0vw 7vw 5vw 7vw;
        }
        .perks {
            padding: 5vw;
        }
        .cardHeader {
            padding: 7vw 7vw 0vw 7vw;
        }
        .cardFooter {
            gap: 20px;
        }
}
