
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Radio Canada:wght@600&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
</head>
<body>
<div class="l1">
    <div class="l1-child"></div>
    <div class="l1-item"></div>
    <div class="l1-inner"></div>
    <div class="l1-child1"></div>
    <div class="l1-child2"></div>
    <div class="l1-child3"></div>
    <div class="l1-child4"></div>
    <div class="l1-child5"></div>
    <div class="l1-child6"></div>
    <div class="l1-child7"></div>
    <div class="l1-child8"></div>
    <button class="button25">+</button>
    <div class="div14">+</div>
    <button class="button26">+</button>
    <div class="div15">+</div>
    <button class="button27">+</button>
    <div class="div16">+</div>
    <button class="button28">+</button>
    <div class="div17">+</div>
    <button class="button29">+</button>
    <div class="div18">+</div>
    <button class="button30">+</button>
    <div class="footer5">
        <div class="content15">
            <div class="row15">
                <div class="about7">
                    <button class="union-parent9">
                        <img class="union-icon13" alt="" src="./assets/union13.svg" />
                        <div class="java-factory13">Java Factory</div>
                    </button>
                </div>
            </div>
            <div class="row16">
                <div class="nav-parent3">
                    <div class="nav40">
                        <input class="subtitle60" type="text" />
                        <div class="list-nav20">
                            <div class="subtitle61">Cursuri</div>
                            <div class="subtitle61">Tarife</div>
                            <div class="subtitle61">Instructori</div>
                        </div>
                    </div>
                    <div class="nav41">
                        <div class="subtitle64">Company</div>
                        <div class="list-nav21">
                            <div class="subtitle61">Despre</div>
                            <div class="subtitle61">Contact</div>
                            <div class="subtitle61">Testimoniale</div>
                        </div>
                    </div>
                    <div class="nav41">
                        <div class="subtitle64">Support</div>
                        <div class="list-nav21">
                            <div class="subtitle61">Contacteaza-ne</div>
                            <div class="subtitle61">FAQ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row17">
                <div class="column5">
                    <div class="nav41">
                        <div class="subtitle64">Subscribe to our newsletter.</div>
                        <div class="body35">
                            Pentru mai multe detalii ne puteti contacta la:
                        </div>
                    </div>
                    <div class="form-input5">
                        <div class="inscrierijavafactoryro6">
                            inscrieri@javafactory.ro
                        </div>
                        <img
                                class="lineararrow-right-icon27"
                                alt=""
                                src="./assets/lineararrowright7.svg"
                        />
                    </div>
                </div>
            </div>
        </div>
        <img class="divider-icon5" alt="" src="./assets/divider.svg" />
        <div class="layer5">
            <div class="left5">
                <div class="subtitle61">© 2023 Java Factory Inc.</div>
                <div class="layer-bottom5">
                    <div class="subtitle61">Politica de confidentialitate</div>
                    <div class="subtitle61">Termeni si conditii</div>
                    <div class="subtitle61">Politica de utilizare cookie-uri</div>
                </div>
            </div>
            <div class="right5">
                <div class="dropdown5">
                    <div class="content16">
                        <img
                                class="united-states-icon5"
                                alt=""
                                src="./assets/united-states5.svg"
                        />
                        <div class="inscrierijavafactoryro6">Romana (RO)</div>
                    </div>
                    <img
                            class="united-states-icon5"
                            alt=""
                            src="./assets/chevrondown.svg"
                    />
                </div>
                <div class="share5">
                    <img
                            class="solidbrandstwitter-icon5"
                            alt=""
                            src="./assets/solidbrandstwitter1.svg"
                    /><img
                        class="solidbrandstwitter-icon5"
                        alt=""
                        src="./assets/solidbrandsfacebook.svg"
                /><img
                        class="solidbrandstwitter-icon5"
                        alt=""
                        src="./assets/solidbrandslinkedin.svg"
                />
                </div>
            </div>
        </div>
    </div>
    <div class="header6">
        <div class="content17"><div></div></div>
        <div class="java-level-1">Java level 1</div>
    </div>
    <div class="l1-child9"></div>
    <div class="descriere-curs1">Descriere curs</div>
    <div class="cum-se-desfasoara1">Cum se desfasoara cursul?</div>
    <div class="cui-se-adreseaza1">Cui se adreseaza cursul?</div>
    <div class="la-ce-job-uri1">La ce job-uri poti aplica ulterior?</div>
    <div class="ce-vei-invata1">Ce vei invata la cursul de Java?</div>
    <div class="body36">
        <span class="duis-aute8">Duis aute</span
        ><span>
          "But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born and I will give you a complete
          account of the system, and expound the actual teachings of the great
          explorer of the truth, the master-builder of human happiness. No one
          rejects, dislikes, or avoids pleasure itself, because it is pleasure,
          but because those who do not know how to pursue pleasure rationally
          encounter consequences that are extremely painful.</span
    >
    </div>
    <div class="body37">
        <span class="duis-aute8">Duis aute</span
        ><span>
          "But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born and I will give you a complete
          account of the system, and expound the actual teachings of the great
          explorer of the truth, the master-builder of human happiness. No one
          rejects, dislikes, or avoids pleasure itself, because it is pleasure,
          but because those who do not know how to pursue pleasure rationally
          encounter consequences that are extremely painful. Nor again is there
          anyone. "But I must explain to you how all this mistaken idea of
          denouncing pleasure and praising pain was born and I will give you a
          complete account of the pleasure rationally encounter consequences
          that are extremely painful. Nor again is there anyone.</span
    >
    </div>
    <div class="body38">
        <span class="duis-aute8">Duis aute</span
        ><span>
          "But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born and I will give you a complete
          account of the system, and expound the actual teachings of the great
          explorer of the truth, the master-builder of human happiness. No one
          rejects,.</span
    >
    </div>
    <div class="body39">
        <span class="duis-aute8">Duis aute</span
        ><span>
          "But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born and I will give you a complete
          account of the system, and expound the actual teachings of the great
          explorer of the truth, the master-builder of human happiness. No one
          rejects, dislikes, or avoids pleasure itself, because it is pleasure,
          but because those who do not know.</span
    >
    </div>
    <img class="l1-child10" alt="" src="./assets/rectangle-4408@2x.png" />
    <div class="body40">
        <span class="duis-aute8">Duis aute</span
        ><span>
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum."</span
    >
    </div>
    <div class="introducere-in-curs">Introducere in curs</div>
    <div class="procesul-de-software">Procesul de software development</div>
    <div class="principii-de-baza">Principii de baza</div>
    <div class="terminologie">Terminologie</div>
    <div class="structura-si-elementele">
        Structura si elementele unei aplicatii
    </div>
    <div class="tipuri-de-date">Tipuri de date</div>
    <div class="librarii-java">Librarii Java</div>
    <div class="controlul-executiei">Controlul executiei</div>
    <div class="javadoc">Javadoc</div>
    <div class="tipuri-de-plati1">Tipuri de plati</div>
    <div class="plan-integral-group">
        <div class="plan-integral1">Plan integral</div>
        <div class="body41">Locație: Online</div>
        <div class="body42">Durată sesiune: 2 ore</div>
        <div class="body43">Durata cursului: 3 luni</div>
        <div class="body44">Profesor: Cristian Petre</div>
        <div class="body45">357 lei/curs</div>
        <div class="body46">
            <span class="duis-aute8">Data: </span><b>20 martie</b>
        </div>
        <div class="frame-child22"></div>
        <div class="frame-child23"></div>
        <div class="frame-child24"></div>
        <div class="frame-child25"></div>
        <div class="frame-child26"></div>
        <div class="frame-child27"></div>
        <div class="frame-child28"></div>
        <div class="frame-child29"></div>
        <div class="text-adiacent-simplu3">Text adiacent simplu</div>
        <img class="person-icon3" alt="" src="./assets/person3.svg" /><img
            class="access-time-icon3"
            alt=""
            src="./assets/access-time3.svg"
    /><img
            class="assessment-icon3"
            alt=""
            src="./assets/assessment3.svg"
    /><img
            class="calendar-today-icon3"
            alt=""
            src="./assets/calendar-today3.svg"
    /><img
            class="location-on-icon3"
            alt=""
            src="./assets/location-on3.svg"
    />
        <div class="body47">Înscrie-te</div>
    </div>
    <div class="plan-de-student-group">
        <div class="plan-de-student1">Plan de student</div>
        <div class="body48">Locație: Online</div>
        <div class="body49">Durată sesiune: 2 ore</div>
        <div class="body50">Durata cursului: 3 luni</div>
        <div class="body51">Profesor: Cristian Petre</div>
        <div class="body52">119</div>
        <div class="body53">
            <span>79 lei</span><span class="lun2">/ lună</span>
        </div>
        <div class="body54">
            <span class="duis-aute8">Data: </span><b>20 martie</b>
        </div>
        <div class="frame-child30"></div>
        <div class="frame-child31"></div>
        <div class="frame-child32"></div>
        <div class="frame-child33"></div>
        <div class="frame-child34"></div>
        <div class="frame-child35"></div>
        <div class="frame-child36"></div>
        <div class="frame-child37"></div>
        <div class="text-adiacent-simplu4">Text adiacent simplu</div>
        <img class="person-icon4" alt="" src="./assets/person4.svg" /><img
            class="access-time-icon4"
            alt=""
            src="./assets/access-time4.svg"
    /><img
            class="assessment-icon4"
            alt=""
            src="./assets/assessment4.svg"
    /><img
            class="calendar-today-icon4"
            alt=""
            src="./assets/calendar-today4.svg"
    /><img
            class="location-on-icon4"
            alt=""
            src="./assets/location-on4.svg"
    />
        <div class="body47">Înscrie-te</div>
    </div>
    <div class="plata-in-rate-group">
        <div class="plata-in-rate1">Plata in rate</div>
        <div class="body56">Locație: Online</div>
        <div class="body57">Durată sesiune: 2 ore</div>
        <div class="body58">Durata cursului: 3 luni</div>
        <div class="body59">Profesor: Cristian Petre</div>
        <div class="body60">
            <span>119 lei</span><span class="lun2">/ lună</span>
        </div>
        <div class="body61">
            <span class="duis-aute8">Data: </span><b>20 martie</b>
        </div>
        <div class="frame-child38"></div>
        <div class="frame-child39"></div>
        <div class="frame-child40"></div>
        <div class="frame-child41"></div>
        <div class="frame-child42"></div>
        <div class="frame-child43"></div>
        <div class="frame-child44"></div>
        <div class="frame-child45"></div>
        <div class="text-adiacent-simplu5">Text adiacent simplu</div>
        <img class="person-icon5" alt="" src="./assets/person5.svg" /><img
            class="access-time-icon5"
            alt=""
            src="./assets/access-time5.svg"
    /><img
            class="assessment-icon5"
            alt=""
            src="./assets/assessment5.svg"
    /><img
            class="calendar-today-icon5"
            alt=""
            src="./assets/calendar-today5.svg"
    /><img
            class="location-on-icon5"
            alt=""
            src="./assets/location-on5.svg"
    />
        <div class="body62">Înscrie-te</div>
    </div>
    <img class="card-icon4" alt="" src="./assets/card4.svg" />
    <div class="call-action9">
        <div class="button31">
            <div class="inregistrare4">Inregistrare</div>
            <img
                    class="lineararrow-right-icon28"
                    alt=""
                    src="./assets/lineararrowright7.svg"
            />
        </div>
    </div>
    <div class="aboneaza-te-la-newsletter4">Aboneaza-te la newsletter</div>
    <div class="at-vero-eos4">
        At vero eos et accusamus et iusto odio dignissimos ducimus qui
        blanditiis praesentium voluptatum deleniti atque.
    </div>
    <div class="l1-child11"></div>
    <div class="adresa-de-email4">Adresa de email</div>
    <div class="scheme-logice">Scheme logice</div>
    <div class="istoria-java">Istoria Java</div>
    <div class="navigation-top5">
        <div class="union-parent10">
            <img class="union-icon13" alt="" src="./assets/union14.svg" />
            <div class="java-factory14">Java Factory</div>
        </div>
        <div class="list-nav23">
            <div class="nav43">
                <div class="acasa6" id="acasaText">Acasa</div>
            </div>
            <div class="nav44">
                <div class="acasa6" id="despreText">Despre</div>
            </div>
            <div class="nav45">
                <div class="cursuri6" id="cursuriText">Cursuri</div>
            </div>
            <div class="nav44">
                <div class="acasa6" id="contactText">Contact</div>
            </div>
            <div class="nav44"><div class="acasa6" id="fAQText">FAQ</div></div>
        </div>
        <img class="vector-icon6" alt="" src="./assets/vector.svg" />
        <div class="call-action10">
            <div class="button32">
                <div class="button-text8">Log In</div>
                <img
                        class="lineararrow-right-icon28"
                        alt=""
                        src="./assets/lineararrowright7.svg"
                />
            </div>
            <div class="button33">
                <div class="button-text8">Sign Up</div>
                <img
                        class="lineararrow-right-icon28"
                        alt=""
                        src="./assets/lineararrowright7.svg"
                />
            </div>
        </div>
    </div>
    <img class="l1-child12" alt="" src="./assets/group-7264.svg" />
</div>

</body>
