<app-navbar></app-navbar>
<div class="heroSection column-start">
    <h2>Java level 1</h2>
    <div class="twoSided row-between-center">
        <img class="heroImage" src="./assets/level1.png">
        <div class="rightSide column-start">
            <p class="p-gray">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                 officia deserunt mollit anim id est laborum."</p>
        </div>
    </div>
</div>
<div class="course column-start">
    <div class="row-center">
        <h2 class="title">Descriere curs</h2>
    </div>
    <p class="p-white">Duis aute "But I must explain to you how all this mistaken idea of denouncing pleasure and praising
         pain was born and I will give you a complete account of the system, and expound the actual teachings
          of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes,
           or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue
            pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone.
             "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
              was born and I will give you a complete account of the pleasure rationally encounter consequences
               that are extremely painful. Nor again is there anyone.</p>
</div>
<div class="faq column-start">
    <div class="section column-start">
        <h2>Cum se desfasoara cursul?</h2>
        <p class="p-gray">Duis aute "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and 
            expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is 
            pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone. "But I must 
            explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual 
            teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but 
            because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone."But I must explain to you how 
            all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great
             explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know
              how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone.</p>
    </div>
    <div class="section column-start">
        <h2>Cui se adreseaza cursul?</h2>
        <p class="p-gray">Duis aute "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the
             system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because
              it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone.</p>
    </div>
    <div class="section column-start">
        <h2>La ce job-uri poti aplica ulterior?</h2>
        <p class="p-gray">Duis aute "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the
            system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because
             it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone.</p>
    </div>
</div>
<div class="accordions column-start">
    <h2>Ce vei invata la cursul de Java?</h2>
    <div class="accordionsContainer column-start">
        <p-accordion>
            <p-accordionTab header="Introducere in curs">
                <ul>
                    <li>asdawda</li>
                </ul>
             </p-accordionTab>
             <p-accordionTab header="Istoria Java">
                Duis aute "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the
             system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because
              it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone.
             </p-accordionTab>
             <p-accordionTab header="Principii de baza">
                Duis aute "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the
             system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because
              it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone.
             </p-accordionTab>
             <p-accordionTab header="Terminologie">
                Duis aute "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the
             system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because
              it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone.
             </p-accordionTab>
             <p-accordionTab header="Scheme logice">
                Duis aute "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the
             system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because
              it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone.
             </p-accordionTab>
             <p-accordionTab header="Structura si elementele unei aplicatii">
                Duis aute "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the
             system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because
              it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone.
             </p-accordionTab>
             <p-accordionTab header="Tipuri de date">
                Duis aute "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the
             system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because
              it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone.
             </p-accordionTab>
             <p-accordionTab header="Librarii Java">
                Duis aute "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the
             system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because
              it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone.
             </p-accordionTab>
             <p-accordionTab header="Procesul de software development">
                Duis aute "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the
             system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because
              it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone.
             </p-accordionTab>
             <p-accordionTab header="Controlul executiei">
                Duis aute "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the
             system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because
              it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone.
             </p-accordionTab>
             <p-accordionTab header="Javadoc">
                Duis aute "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the
             system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because
              it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone.
             </p-accordionTab>       
        </p-accordion>
    </div>
</div>
<div class="width cardsContainer column-center">
    <h2>Tipuri de plati</h2>
    <div class="cards column-start width">
        <div class="width card1 column-center">
            <div class="cardHeader column-start">
                <h3>Plan integral</h3>
                <hr class="headBar">
                <span class="adjacent">Text adiacent simplu</span>
            </div>
            <div class="perks column-start width">
                <hr class="inlineHr">
                <div class="tile row-start-center">
                    <img src="../../../assets/pin.svg">
                    <span>Locație: Online</span>
                </div>
                <hr class="inlineHr">
                <div class="tile row-start-center">
                    <img src="../../../assets/calendar.svg">
                    <span>Data: 20 martie</span>
                </div>
                <hr class="inlineHr">
                <div class="tile row-start-center">
                    <img src="../../../assets/access-time.svg">
                    <span>Durată sesiune: 2 ore</span>
                </div>
                <hr class="inlineHr">
                <div class="tile row-start-center">
                    <img src="../../../assets/assessment.svg">
                    <span>Durata cursului: 3 luni</span>
                </div>
                <hr class="inlineHr">
                <div class="tile row-start-center">
                    <img src="../../../assets/person.svg">
                    <span>Profesor: Cristian Petre</span>
                </div>
                <hr class="inlineHr">
            </div>
            <div class="cardFooter column-start width">
                <div class="priceContainer column-start">
                <span class="price">357 lei<span class="category">/curs</span></span>
                </div>
                <div class="width containerButton column-center">
                    <p-button label="Înscrie-te"></p-button>
                </div>
            </div>
        </div>
        <div class="width card column-center">
            <div class="cardHeader column-start">
                <h3>Plan de student</h3>
                <hr class="headBar">
                <span class="adjacent">Text adiacent simplu</span>
            </div>
            <div class="perks column-start width">
                <hr class="inlineHr">
                <div class="tile row-start-center">
                    <img src="../../../assets/pin.svg">
                    <span>Locație: Online</span>
                </div>
                <hr class="inlineHr">
                <div class="tile row-start-center">
                    <img src="../../../assets/calendar.svg">
                    <span>Data: 20 martie</span>
                </div>
                <hr class="inlineHr">
                <div class="tile row-start-center">
                    <img src="../../../assets/access-time.svg">
                    <span>Durată sesiune: 2 ore</span>
                </div>
                <hr class="inlineHr">
                <div class="tile row-start-center">
                    <img src="../../../assets/assessment.svg">
                    <span>Durata cursului: 3 luni</span>
                </div>
                <hr class="inlineHr">
                <div class="tile row-start-center">
                    <img src="../../../assets/person.svg">
                    <span>Profesor: Cristian Petre</span>
                </div>
                <hr class="inlineHr">
            </div>
            <div class="cardFooter column-start width">
                <div class="priceContainer column-start">
                <span><del>119</del></span>
                <span class="price">79 lei<span class="category">/lună</span></span>
                </div>
                <div class="width containerButton column-center">
                    <p-button label="Înscrie-te"></p-button>
                </div>
            </div>
        </div>
        <div class="width card1 column-center">
            <div class="cardHeader column-start">
                <h3>Plata in rate</h3>
                <hr class="headBar">
                <span class="adjacent">Text adiacent simplu</span>
            </div>
            <div class="perks column-start width">
                <hr class="inlineHr">
                <div class="tile row-start-center">
                    <img src="../../../assets/pin.svg">
                    <span>Locație: Online</span>
                </div>
                <hr class="inlineHr">
                <div class="tile row-start-center">
                    <img src="../../../assets/calendar.svg">
                    <span>Data: 20 martie</span>
                </div>
                <hr class="inlineHr">
                <div class="tile row-start-center">
                    <img src="../../../assets/access-time.svg">
                    <span>Durată sesiune: 2 ore</span>
                </div>
                <hr class="inlineHr">
                <div class="tile row-start-center">
                    <img src="../../../assets/assessment.svg">
                    <span>Durata cursului: 3 luni</span>
                </div>
                <hr class="inlineHr">
                <div class="tile row-start-center">
                    <img src="../../../assets/person.svg">
                    <span>Profesor: Cristian Petre</span>
                </div>
                <hr class="inlineHr">
            </div>
            <div class="cardFooter column-start width">
                <div class="priceContainer column-start">
                <span class="price">119 lei<span class="category">/lună</span></span>
                </div>
                <div class="width containerButton column-center">
                    <p-button label="Înscrie-te"></p-button>
                </div>
            </div>
        </div>
    </div>
    
</div>
<app-newsletter></app-newsletter>
<app-footer></app-footer>