<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Radio Canada:wght@600&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
</head>
<body>
<div class="cursuri7">
    <div class="footer6">
        <div class="content18">
            <div class="row18">
                <div class="about8">
                    <button class="union-parent11">
                        <img class="union-icon15" alt="" src="./assets/union15.svg"/>
                        <div class="java-factory15">Java Factory</div>
                    </button>
                </div>
            </div>
            <div class="row19">
                <div class="nav-parent4">
                    <div class="nav48">
                        <input class="subtitle72" type="text"/>
                        <div class="list-nav24">
                            <div class="subtitle73">Cursuri</div>
                            <div class="subtitle73">Tarife</div>
                            <div class="subtitle73">Instructori</div>
                        </div>
                    </div>
                    <div class="nav48">
                        <input class="subtitle76" type="text"/>
                        <div class="list-nav24">
                            <div class="subtitle73">Despre</div>
                            <div class="subtitle73">Contact</div>
                            <div class="subtitle73">Testimoniale</div>
                        </div>
                    </div>
                    <div class="nav48">
                        <input class="subtitle76" type="text"/>
                        <div class="list-nav24">
                            <div class="subtitle73">Contacteaza-ne</div>
                            <div class="subtitle73">FAQ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row20">
                <div class="column6">
                    <div class="nav48">
                        <div class="heading6">Subscribe to our newsletter.</div>
                        <div class="body63">
                            Pentru mai multe detalii ne puteti contacta la:
                        </div>
                    </div>
                    <div class="form-input6">
                        <div class="inscrierijavafactoryro7">
                            inscrieri@javafactory.ro
                        </div>
                        <img
                                class="lineararrow-right-icon31"
                                alt=""
                                src="./assets/lineararrowright3.svg"
                        />
                    </div>
                </div>
            </div>
        </div>
        <img class="divider-icon6" alt="" src="./assets/divider.svg"/>
        <div class="layer6">
            <div class="left6">
                <div class="subtitle73">© 2023 Java Factory Inc.</div>
                <div class="layer-bottom6">
                    <div class="subtitle73">Politica de confidentialitate</div>
                    <div class="subtitle73">Termeni si conditii</div>
                    <div class="subtitle73">Politica de utilizare cookie-uri</div>
                </div>
            </div>
            <div class="right6">
                <div class="dropdown6">
                    <div class="content19">
                        <img
                                class="united-states-icon6"
                                alt=""
                                src="./assets/united-states6.svg"
                        />
                        <div class="inscrierijavafactoryro7">Romana (RO)</div>
                    </div>
                    <img
                            class="united-states-icon6"
                            alt=""
                            src="./assets/chevrondown.svg"
                    />
                </div>
                <div class="share6">
                    <img
                            class="solidbrandstwitter-icon6"
                            alt=""
                            src="./assets/solidbrandstwitter1.svg"
                    /><img
                        class="solidbrandstwitter-icon6"
                        alt=""
                        src="./assets/solidbrandsfacebook.svg"
                /><img
                        class="solidbrandstwitter-icon6"
                        alt=""
                        src="./assets/solidbrandslinkedin.svg"
                />
                </div>
            </div>
        </div>
    </div>
    <div class="header7">
        <div class="content20">
            <div></div>
        </div>
        <div class="lorem-ipsum-dolor3">Lorem ipsum dolor sit amet</div>
    </div>
    <div class="navigation-top6">
        <div class="union-parent12">
            <img class="union-icon15" alt="" src="./assets/union16.svg"/>
            <div class="java-factory16">Java Factory</div>
        </div>
        <div class="list-nav27">
            <div class="nav51">
                <div class="acasa7" id="acasaText" (click)="navigateTo('/')">Acasa</div>
            </div>
            <div class="nav60">
                <div class="acasa7" id="despreText" (click)="navigateTo('/about')">Despre</div>
            </div>
            <div class="nav53">
                <div class="menu-text" (click)="navigateTo('/courses')">Cursuri</div>
            </div>
            <div class="nav51">
                <div class="acasa7" id="contactText" (click)="navigateTo('/contact')">Contact</div>
            </div>
            <div class="nav51">
                <div class="acasa7" id="fAQText" (click)="navigateTo('/faq')">FAQ</div>
            </div>

        </div>
        <img class="vector-icon7" alt="" src="./assets/vector.svg"/>
        <div class="call-action11">
            <div class="button34">
                <div class="button-text9">Log In</div>
                <img
                        class="lineararrow-right-icon32"
                        alt=""
                        src="./assets/lineararrowright3.svg"
                />
            </div>
            <div class="button35">
                <div class="button-text9">Sign Up</div>
                <img
                        class="lineararrow-right-icon32"
                        alt=""
                        src="./assets/lineararrowright3.svg"
                />
            </div>
        </div>
    </div>
    <div class="unsplash95yrwf6cnw8-parent">
        <img
                class="unsplash95yrwf6cnw8-icon2"
                alt=""
                src="./assets/unsplash95yrwf6cnw81@2x.png"
        />
        <div class="copy12">
            <div class="headline9">
                <div class="martie-14-2023">Martie 14, 2023</div>
                <div class="button36">
                    <div class="button-text9">Watch Story</div>
                    <img
                            class="lineararrow-right-icon31"
                            alt=""
                            src="./assets/lineararrowright9.svg"
                    />
                </div>
            </div>
            <div class="body64">
            <span class="duis-aute13">Duis aute</span
            ><span>
              irure dolor in reprehenderit in voluptate velit esse cillum dolore
              eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est
              laborum."</span
            >
            </div>
        </div>
    </div>
    <div class="cursuri-child"></div>
    <div class="cursuri-de-java">Cursuri de Java</div>
    <div class="java-level-11">Java level 1</div>
    <div class="java-level-2">Java level 2</div>
    <div class="java-level-31">Java level 3</div>
    <img
            class="cursuri-item"
            alt=""
            src="./assets/rectangle-4403@2x.png"
    /><img
        class="cursuri-inner"
        alt=""
        src="./assets/rectangle-4404@2x.png"
/><img
        class="cursuri-child1"
        alt=""
        src="./assets/rectangle-4405@2x.png"
/>
    <div class="conditii-de-participare">Conditii de participare</div>
    <div class="lorem-ipsum">Lorem ipsum</div>
    <div class="body65">
        <span class="duis-aute13">Duis aute</span
        ><span>
          "But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born and I will give you a complete
          account of the system, and expound the actual teachings of the great
          explorer of the truth, the master-builder of human happiness. No one
          rejects, dislikes, or avoids pleasure itself, because it is pleasure,
          but because those who do not know how to pursue pleasure rationally
          encounter consequences that are extremely painful. Nor again is there
          anyone. "But I must explain to you how all this mistaken idea of
          denouncing pleasure and praising pain was born and I will give you a
          complete account of the system, and expound the actual teachings of
          the great explorer of the truth, the master-builder of human
          happiness. No one rejects, dislikes, or avoids pleasure itself,
          because it is pleasure, but because those who do not know how to
          pursue pleasure rationally encounter consequences that are extremely
          painful. Nor again is there anyone."But I must explain to you how all
          this mistaken idea of denouncing pleasure and praising pain was born
          and I will give you a complete account of the system, and expound the
          actual teachings of the great explorer of the truth, the
          master-builder of human happiness. No one rejects, dislikes, or avoids
          pleasure itself, because it is pleasure, but because those who do not
          know how to pursue pleasure rationally encounter consequences that are
          extremely painful. Nor again is there anyone.</span
    >
    </div>
    <div class="lorem-ipsum1">Lorem ipsum</div>
    <div class="body66">
        <span class="duis-aute13">Duis aute</span
        ><span>
          "But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born and I will give you a complete
          account of the system, and expound the actual teachings of the great
          explorer of the truth, the master-builder of human happiness. No one
          rejects, dislikes, or avoids pleasure itself, because it is pleasure,
          but because those who do not know how to pursue pleasure rationally
          encounter consequences that are extremely painful. Nor again is there
          anyone.</span
    >
    </div>
    <div class="lorem-ipsum2">Lorem ipsum</div>
    <div class="body67">
        <span class="duis-aute13">Duis aute</span
        ><span>
          "But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born and I will give you a complete
          account of the system, and expound the actual teachings of the great
          explorer of the truth, the master-builder of human happiness. No one
          rejects, dislikes, or avoids pleasure itself, because it is pleasure,
          but because those who do not know how to pursue pleasure rationally
          encounter consequences that are extremely painful. Nor again is there
          anyone.</span
    >
    </div>
    <img class="card-icon5" alt="" src="./assets/card5.svg"/>
    <div class="call-action12">
        <div class="button37">
            <div class="inregistrare5">Inregistrare</div>
            <img
                    class="lineararrow-right-icon32"
                    alt=""
                    src="./assets/lineararrowright3.svg"
            />
        </div>
    </div>
    <div class="aboneaza-te-la-newsletter5">Aboneaza-te la newsletter</div>
    <div class="at-vero-eos5">
        At vero eos et accusamus et iusto odio dignissimos ducimus qui
        blanditiis praesentium voluptatum deleniti atque.
    </div>
    <div class="cursuri-child2"></div>
    <div class="adresa-de-email5">Adresa de email</div>
    <img class="cursuri-child3" alt="" src="./assets/group-7264.svg"/>
</div>
</body>
