<app-navbar></app-navbar>
<div class="heroSection column-start">
    <h2>Lorem ipsum dolor sit amet</h2>
    <div class="twoSided row-between-center">
        <img class="heroImage" src="./assets/courses.png">
        <div class="rightSide column-start">
            <span class="timeStamp">Martie 14, 2023</span>
            <p class="p-gray">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
    </div>
</div>
<div class="courses column-start">
    <div class="row-center">
        <h2 class="title">Cursuri de Java</h2>
    </div>
    <div class="levels row-center wrap">
        <a class="level column-center" href="/level1">
            <h3>Java level 1</h3>
            <img class="levelImg" src="./assets/level1.png">
        </a>
        <a class="level column-center">
            <h3>Java level 2</h3>
            <img class="levelImg" src="./assets/level2.png">
        </a>
        <a class="level column-center">
            <h3>Java level 3</h3>
            <img class="levelImg" src="./assets/level3.png">
        </a>
    </div>
</div>
<div class="conditions column-center">
    <h2>Conditii de participare</h2>
    <div class="section column-start">
        <h3 class="sectionTitle">Lorem Ipsum</h3>
        <p class="p-gray">Duis aute "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and 
            expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is 
            pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone. "But I must 
            explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual 
            teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but 
            because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone."But I must explain to you how 
            all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great
             explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know
              how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone.</p>
    </div>
    <div class="section column-start">
        <h3 class="sectionTitle">Lorem Ipsum</h3>
        <p class="p-gray">Duis aute "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the
             system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because
              it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone.</p>
    </div>
    <div class="section column-start">
        <h3 class="sectionTitle">Lorem Ipsum</h3>
        <p class="p-gray">Duis aute "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the
            system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because
             it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone.</p>
    </div>
</div>
<app-newsletter></app-newsletter>
<app-footer></app-footer>