.twoSided {
    gap: 70px;
}

.rightSide {
    gap: 24px;
    padding: 0px 50px;
}


.heroSection {
    padding: 150px 7vw 130px 7vw;
    background: white;
    gap: 63px;
}

.timeStamp {
    color: #CFCFD1;
    font-size: 24px;
    font-weight: 400;
}

h2 {
    font-size: 70px;
}

.courses {
    background: var(--main-text);
    gap: 80px;
    padding: 100px 0px;
}

.level {
    gap: 40px;
}

.levels {
    width: 100%;
    gap: 40px;
}

.levelImg {
     width: 100%;
     transition: all 0.5s ease-out;

}

.title {
    color:white;
    padding-left: 100px;
}

.conditions {
    background: white;
    padding: 100px;
    gap: 100px;
}

.sectionTitle {
    color: #0F1017;
    font-size: 44px;
}

.section {
    gap: 24px;
}

.heroImage {
    width: 80%;
}

img.levelImg:hover {
    filter: grayscale(100%);
    transition: all 0.5s ease-out;
}

@media (max-width: 1025px) {
    .heroSection {
        gap:40px;
        padding-bottom: 90px;
    }
    .heroImage {
        display: none;
    }
    .rightSide {
        padding: 0px;
    }
    h2 {
        font-size: 44px;
    }
    .courses {
        padding: 15vw 7vw;
        gap: 40px;
    }
    .title {
        padding: 0px;
    }
    .levels {
        align-items: flex-start;
        flex-direction: column;
    }
    h3 {
        font-size: 32px;
    }
    .level {
        width: 100%;
        align-items: flex-start;
        gap: 20px;
    }
    .conditions {
        padding: 15vw 7vw;
        gap: 30px;
    }
    .sectionTitle {
        font-size: 32px;
    }
    .section {
        gap: 15px;
    }
}
 
