.despre7 {
    position: relative;
    background-color: var(--neutral-color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 270.94rem;
    text-align: left;
    font-size: var(--heading-h3-size);
    color: var(--neutral-color-white);
    font-family: var(--text-medium-reguler);
}


.menu-text {
    position: relative;
    line-height: 1.75rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: var(--padding-0) var(--padding-0) var(--padding-xs);
    align-items: center;
    justify-content: center;
    color: var(--neutral-color-white);
}

.menu-text-selected {
    position: relative;
    line-height: 1.75rem;
    font-weight: 500;
    border-bottom: 1.5px solid var(--color-goldenrod-100);
    padding: var(--padding-0) var(--padding-0) var(--padding-xs);
    justify-content: flex-start;
    font-size: var(--font-size-lg);
}

.java-factory-text {
    letter-spacing: 0.02em;
    line-height: 1.78rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.25rem;
    height: 1.94rem;
}
